//
// Accordion
// --------------------------------------------------
// Parent container
.accordion {
    margin-bottom: @baseLineHeight;
}

// Group == heading + body
.accordion-group {
    overflow: hidden;
    margin: 0;
    background: @globalColor;
    padding: 36px 48px;
    box-sizing: border-box;
    margin-bottom: 2px;
}

.accordion-heading {
    border-bottom: 0;
}

.accordion-body {
    &.in {
        span {
            color: @white;
            font-weight: 300;
        }
        p {
            color: @white;
        }
    }
}

.mod-bootstrap-collapse__custom {
    .accordion-body {
        &.in {
            p {
                color: @grayDark;
            }
        }
    }
}

//==================================
// Accordion Toggle Styles
//==================================
.accordion-toggle {
    padding: 10px 0 0px 35px;
    position: relative;
    color: @white;
    font: 400 30px/26px @altFontFamily;
    text-transform: uppercase;
    display: block;
    &:before {
        content: '+';
        font-size: 52px;
        line-height: 26px;
        font-family: @altFontFamily;
        left: 0;
        position: absolute;
        text-align: center;
        .transition(all 0.3s ease);
        top: 10px;
        // width: 20px + @baseLineHeight;
        // line-height: 20px + @baseLineHeight;
        color: @white;
        background: none;
    }
    i {
        display: none;
    }
    &.selected {
        color: @white;
        &:before {
            content: '-';
            color: @white;
        }
    }
    &:hover {
        color: @grayDark;
        &:before {
            color: @grayDark;
        }
    }
}

.mod-bootstrap-collapse {
    &.mod-bootstrap-collapse__ {
        margin-right: 100px;
    }
}

//==================================
// Accordion Inner Styles
//==================================
.accordion-inner {
    padding: 20px 0px 0px 0px;
    p {
        padding-bottom: 0;
    }
}

//==================================
// Custom Accordion Styles
//==================================
.mod-bootstrap-collapse__custom {
    .accordion-group {
        background: none;
        margin-bottom: 0;
        border-bottom: 1px solid #dfe0e0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 37px;
        padding-top: 37px;
    }
    .accordion-toggle {
        display: block;
        cursor: pointer;
        position: relative;
        color: @headingsColor;
        padding: 0px 0 0px 32px;
        i {
            display: none;
        }
        &:before {
            color: @grayDark;
            line-height: 8px;
        }
        &:hover {
            color: @globalColor;
            &:before {
                color: @globalColor;
            }
        }
        &.selected {
            color: @globalColor;
            &:before {
                color: @globalColor;
            }
        }
    }
}
