//
// Lists
// --------------------------------------------------
//===========================================
//   Ordered and Unordered List Styles
//===========================================
ul,
ol {
    padding: 0;
    list-style: none;
    li {
        line-height: @baseLineHeight;
    }
}

//===========================================
//   Ordered List Styles
//===========================================
ol {
    list-style: none;
    counter-reset: list;
    li {
        padding-left: 35px;
        position: relative;
        &:before {
            color: @globalColor;
            content: counter(list, decimal-leading-zero);
            counter-increment: list;
            font: 400 20px/38px @altFontFamily;
            left: 0;
            position: absolute;
            top: 0;
        }
        a {
            font: 400 20px/20px @altFontFamily;
            color: @gray;
            text-transform: uppercase;
        }
        + li {
            margin-top: 4px;
        }
    }
}

//===========================================
// Unordered List Styles
//===========================================
.item_introtext,
.item_fulltext,
.category_desc,
.site_map {
    ul {
        li {
            position: relative;
            padding-left: 25px;
            a {
                font: 400 20px/20px @altFontFamily;
                color: @gray;
                text-transform: uppercase;
            }
            &:before {
                position: absolute;
                font-size: 20px;
                left: 0;
                top: 0;
                content: '\f0a9';
                color: @globalColor;
                font-family: @fa;
            }
            + li {
                margin-top: 4px;
            }
        }
        &.nav-tabs {
            li {
                padding: 0;
                &:before {
                    display: none;
                }
            }
        }
        a,
        span {
            text-decoration: none;
            color: @headingsColor;
        }
        a {
            &:hover {
                color: @globalColor;
            }
        }
    }
}

ul.tags,
ul.nav,
ul.btn-toolbar,
ul.dropdown-menu,
ul.chzn-results,
ul.chzn-choices {
    li {
        &:before {
            display: none;
        }
    }
}

//===========================================
// Icon List Styles
//===========================================
ul.icons {
    li {
        list-style: none;
        position: relative;
        padding-left: 30px;
        a {
            font: 30px/30px @altFontFamily;
            text-transform: uppercase;
            color: @grayDark;
        }
        p{
          padding-bottom: 35px;
        }
        + li {
            margin-top: 10px;
        }
        &:before {
            display: none;
        }
    }
}

//===========================================
// Bootstrap Styles
//===========================================
ul ul,
ul ol,
ol ol,
ol ul {
    &.nav-child {
        margin: 5px 0 0;
    }
}

// Remove default list styles
ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none;
}

// Single-line list items
ul.inline,
ol.inline {
    margin-left: 0;
    > li {
        display: inline-block;
        .ie7-inline-block();
        padding-left: 5px;
        padding-right: 5px;
    }
}

// Description Lists
dl + * {
    margin-top: @baseLineHeight;
}

dt,
dd {
    line-height: @baseLineHeight;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: @baseLineHeight / 2;
}

// Horizontal layout (like forms)
.dl-horizontal {
    .clearfix(); // Ensure dl clears floats if empty dd elements present
    dt {
        float: left;
        width: @horizontalComponentOffset - 20;
        clear: left;
        text-align: right;
        .text-overflow();
    }
    dd {
        margin-left: @horizontalComponentOffset;
    }
}

.portfolio-meta-list {
    display: table;
    margin-left: 0;
    overflow: hidden;
    li {
        color: @linkHoverColor;
        display: table-row;
        strong {
            color: @globalColor;
        }
        > strong,
        > span {
            display: table-cell;
        }
        > span {
            padding-left: 5px;
            color: @textColor;
        }
        &:before {
            display: none;
        }
    }
}

.item_fulltext .portfolio-meta-list li span:hover {
    color: inherit;
}
