//
// Pagination (multiple pages)
// --------------------------------------------------

// Pagination
// -------------------------
@paginationBackground: @globalColor;
@paginationBorder: @btnBorder;
@paginationActiveBackground: @headingsColor;

@paginationLink: @btnColor;
@paginationLinkAct: @btnColorHighlight;
@paginationSpan: @btnColorHighlight;

// Space out pagination from surrounding content

.pagination {
  height: auto;
  margin: 0;
  padding: 30px 0;
  ul {
    margin: 0;
    text-align: center;
    width: 100%;
    li {
      display: inline-block;
      margin: 0 2px;
      > a,
      > span {
        display: block;
        padding: 7px 13px;
        line-height: @baseLineHeight;
        .border-radius(@baseBorderRadius);
        &:focus {
          background: @paginationBackground;
          &:hover {
            background: @paginationActiveBackground;
          }
        }
        &:hover {
          background: @paginationActiveBackground;
          border-color: @btnBorder !important;
          color: @paginationSpan;
        }
      }
      > .pagenav,
      > .hasTooltip {
        background: @paginationBackground;
        color: @paginationLink;
      }
      > span.pagenav {
        background: @paginationActiveBackground;
        border-color: @btnBorder !important;
        color: @paginationSpan;
      }
    }
  }
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  cursor: default;
}

// Alignment
// --------------------------------------------------

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

// Sizing
// --------------------------------------------------

// Large
.pagination-large {
  ul > li > a,
  ul > li > span {
    padding: @paddingLarge;
    font-size: @fontSizeLarge;
  }
  ul > li:first-child > a,
  ul > li:first-child > span {
    .border-left-radius(@baseBorderRadius);
  }
  ul > li:last-child > a,
  ul > li:last-child > span {
    .border-right-radius(@baseBorderRadius);
  }
}

// Small and mini
.pagination-mini,
.pagination-small {
  ul > li:first-child > a,
  ul > li:first-child > span {
    .border-left-radius(@baseBorderRadius);
  }
  ul > li:last-child > a,
  ul > li:last-child > span {
    .border-right-radius(@baseBorderRadius);
  }
}

// Small
.pagination-small {
  ul > li > a,
  ul > li > span {
    padding: @paddingSmall;
    font-size: @fontSizeSmall;
  }
}

// Mini
.pagination-mini {
  ul > li > a,
  ul > li > span {
    padding: @paddingMini;
    font-size: @fontSizeMini;
  }
}
