/**
 * @Copyright
 * @package     EFSEO - Easy Frontend SEO for Joomal! 3.x
 * @author      Viktor Vogel <admin@kubik-rubik.de>
 * @version     3.3.0 - 2016-07-26
 * @link        https://joomla-extensions.kubik-rubik.de/efseo-easy-frontend-seo
 *
 * @license     GNU/GPL
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.icon-easyfrontendseo:before {
    content: "\33";
}

.icon-easyfrontendseo-add:before {
    content: "\5d"
}

.icon-easyfrontendseo-edit:before {
    content: "\2b";
}

.icon-easyfrontendseo-success:before {
    content: "\47";
}

.icon-easyfrontendseo-error:before {
    content: "\49"
}

input.text_area, textarea.text_area {
    width: 500px;
}

.overwrite_notice {
    background-color: #FCFA76;
    padding: 10px;
    margin-top: 15px;
}