/* ----------------------------------------
Devices
-----------------------------------------*/
@media print {
    blockquote,img,pre,tr {
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    h2,h3,p {
        orphans: 3;
        widows: 3
    }

    h2,h3 {
        page-break-after: avoid
    }

    .item,.item__module {
        opacity: 1!important;
        transform: none!important;
        -o-transform: none!important;
        -moz-transform: none!important;
        -webkit-transform: none!important;
        -ms-transform: none!important
    }

    .scroll-to-fixed-fixed {
        position: static!important;
        width: 100%!important
    }

    .scroll-to-fixed-fixed+div {
        display: none!important
    }
}

@-ms-viewport (width:device-width) {
    .hidden {
        display: none;
        visibility: hidden
    }

    .hidden-desktop,.visible-phone,.visible-tablet {
        display: none!important
    }

    .visible-desktop {
        display: inherit!important
    }
}

.visible-print {
    display: none!important
}

@media print {
    .visible-print {
        display: inherit!important
    }

    .hidden-print {
        display: none!important
    }
}


/* ----------------------------------------
 height! size < 550px
-----------------------------------------*/


@media screen and (max-height:550px) {
    #style_switcher,div#fixed-sidebar-right .moduletable.login {
        padding-bottom: 0;
        bottom: 0
    }

    #style_switcher .mod_login_wrapper,div#fixed-sidebar-right .moduletable.login .mod_login_wrapper {
        max-height: 100%
    }
}

/* ----------------------------------------
 height! 639px < size
-----------------------------------------*/

@media screen and (max-height:639px) {
    #style_switcher,div#fixed-sidebar-right .moduletable.login {
        top: 85px!important
    }
}

/* ----------------------------------------
 size < 1800px
-----------------------------------------*/

@media (max-width:1800px) {
    .mod_caroufredsel .caroufredsel_pagination {
        position: absolute;
        left: -10%;
        top: 14%
    }

}

/* ----------------------------------------
 size < 1730px
-----------------------------------------*/

@media (max-width:1730px) {
    #copyright .moduletable.contacts {
        margin-top: 230px
    }
}

/* ----------------------------------------
 size < 1700px
-----------------------------------------*/

@media (max-width:1700px) {
    .stuck .moduletable.top_menu_2 {
        margin-left: 20px
    }

    .mod-newsflash-adv__home_gallery .item .dropcap {
        position: absolute;
        font: 400 100px/100px 'Intro';
        bottom: 40%
    }

    .moduletable.home_menu {
        max-width: 1200px
    }
}

/* ----------------------------------------
 size < 1530px
-----------------------------------------*/

@media (max-width:1530px) {
    .stuck .moduletable.top_menu_2 .menu {
        padding-top: 40px
    }

    .scroll-to-fixed-fixed .moduletable.top_menu_2 .menu li,.stuck .moduletable.top_menu_2 .menu li {
        display: block;
        float: none
    }

    .scroll-to-fixed-fixed .moduletable.top_menu_2 .menu li+li,.stuck .moduletable.top_menu_2 .menu li+li {
        margin-left: 0
    }

    .scroll-to-fixed-fixed .moduletable.top_menu_2 .menu {
        padding-top: 0
    }

    .stuck .moduletable.home_menu {
        max-width: 800px
    }

    .stuck .moduletable.home_menu .icemegamenu>ul>li>a.iceMenuTitle {
        font-size: 16px
    }

    .camera_wrap .camera_caption>div h2 {
        color: #fff;
        font: 400 90px/90px 'Intro';
        margin-left: 0!important
    }

    .camera_wrap .camera_caption>div .readmore {
        font: 400 20px/20px 'Intro';
        margin-top: 27px;
        padding: 18px 40px
    }

    h1.heading-style-2,h2.heading-style-2,h3.heading-style-2,h4.heading-style-2,h5.heading-style-2,h6.heading-style-2 {
        font-size: 80px;
        margin-bottom: 60px;
        position: relative;
        display: inline-block;
        margin-left: 100px
    }

    section.page-category__careers div.item_introtext,
    #module_220.mod-article-single.mod-article-single__about div.item_introtext {
        margin-left: 100px;
    }

    .moduletable.home_gallery header .moduleTitle {
        margin-right: 100px;
    }

    #showcase .moduletable.home_gallery header .moduleTitle {
      margin: 0 0 60px;
    }

    .moduletable header h2 {
        display: inline-block
    }

    .moduletable.dependability header {
        text-align: center
    }

    .moduletable.dependability header h2 {
        display: inline-block;
        margin-left: 0
    }

    .moduletable.contact header,.moduletable.location header {
        text-align: left!important
    }

    .map_wrapper .map {
        height: 453px!important
    }

    #module_91 {
        margin: 0 80px;
    }

    .moduletable.ideas .item_introtext {
        margin-left: 100px; 
        margin-right: 100px; 
    }
}

/* ----------------------------------------
 size < 1488px
-----------------------------------------*/

@media (max-width:1488px) {
    .mod_caroufredsel .caroufredsel_pagination {
        display: inline-block;
        position: relative;
        left: 50%;
        margin-left: -70px;
        text-align: center;
        top: 4%
    }

    .mod_caroufredsel .caroufredsel_pagination a {
        float: left;
        margin: 0 10px
    }
}

/* ----------------------------------------
 size < 1390px
-----------------------------------------*/


@media (max-width:1390px) {
    #adminForm #images .input-prepend.input-append .btn+input {
        width: 65%!important;
        padding-left: 12%!important
    }

    h1.heading-style-2,h2.heading-style-2,h3.heading-style-2,h4.heading-style-2,h5.heading-style-2,h6.heading-style-2 {
        font-size: 70px;
        line-height: 100px;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        margin-left: 100px
    }

    .moduletable.top_social {
        position: absolute!important;
        bottom: 5%!important;
        right: 4%!important;
        top: auto!important;
        left: auto!important
    }

    .moduletable.top_social .menu.social li {
        margin-right: 0;
        float: left;
        display: block;
        margin-bottom: 0;
        padding: 0 10px
    }

    .moduletable.top_social .menu.social li a {
        color: #fff
    }

    .moduletable.top_social .menu.social li a:before {
        font-size: 20px;
        line-height: 20px
    }

    .moduletable.top_social .menu.social li a:hover {
        color: #0D91FF
    }

    .camera_wrap .camera_caption>div h4 {
        font: 300 22px/50px 'Roboto',sans-serif
    }

    .camera_wrap .camera_caption>div h2 {
        color: #fff;
        font: 400 60px/70px 'Intro';
        padding-right: 50px
    }

    .mod-custom__headertop > div {
        max-width: 840px;
    }
}

/* ----------------------------------------
 size < 1250px
-----------------------------------------*/

@media (max-width:1250px) {
    #logo>a>img {
        margin: 50px;
        height: 40px
    }

     section.page-category__careers div.item_introtext {
        margin-right: 90px;
    }
}

/* ----------------------------------------
 size < 1200px
-----------------------------------------*/


@media (max-width:1200px) {

    .page-login .btn {
        vertical-align: inherit;
        margin: 10px 0
    }

    #logo > a > img {
        margin: 20px;
        height: 40px
    }

    .mod_caroufredsel__testimonials .list_carousel .item .item_content .item_img {
        position: relative;
        display: block;
        float: none;
        overflow: visible;
        text-align: center
    }

    .mod_caroufredsel__testimonials .list_carousel .item .item_content .item_img::before {
        position: relative;
        padding-right: 0;
        display: block;
        top: 0;
        text-align: center;
        font: 150px/120px 'Intro'
    }

    .mod_caroufredsel__testimonials .list_carousel .item .item_content .oh {
        overflow: hidden;
        float: none;
        margin-left: 30px;
        margin-top: 0;
        text-align: center
    }

    .mod_caroufredsel__testimonials .list_carousel .item .item_content p {
        display: block;
    }

    .stuck .moduletable.top_menu_2 .menu {
        padding-top: 0
    }

    .stuck .moduletable.home_menu {
        margin-top: 20px
    }

    .mod-newsflash-adv__home_gallery .item .dropcap {
        position: absolute;
        font: 400 80px/80px 'Intro';
        left: 30px;
        bottom: 45%
    }

    .camera_wrap .camera_caption>div {
        max-width: 800px
    }

    .row-fluid [class*=itemSpan],.row-fluid [class*=span] {
        padding-left: 60px;
        padding-right: 60px;
    }


    #contact_map {
        height: 376px
    }

    .page-category__history .items-row>div:before {
        right: -34px
    }

    .page-category__history .items-row>div+div:before {
        left: -10px
    }

    div.nt-cont article.item__module.item {
        width: 50%
    }

    #module_232 article.item__module.item {
        width: 33.33%
    }

    figure.item_img div.more>div.item_introtext>p {
        font-size: 20px;
        line-height: 1.6em
    }

    .row {
        margin-left: -30px
    }

    .row:after,.row:before {
        display: table;
        content: "";
        line-height: 0
    }

    .row:after {
        clear: both
    }

    [class*=span] {
        float: left;
        min-height: 1px;
        margin-left: 30px
    }

    .container,.navbar-fixed-bottom .container,.navbar-fixed-top .container,.navbar-static-top .container,.span12 {
        width: 1170px
    }

    .span11 {
        width: 1070px
    }

    .span10 {
        width: 970px
    }

    .span9 {
        width: 870px
    }

    .span8 {
        width: 770px
    }

    .span7 {
        width: 670px
    }

    .span6 {
        width: 570px
    }

    .span5 {
        width: 470px
    }

    .span4 {
        width: 370px
    }

    .span3 {
        width: 270px
    }

    .span2 {
        width: 170px
    }

    .span1 {
        width: 70px
    }

    .offset12 {
        margin-left: 1230px
    }

    .offset11 {
        margin-left: 1130px
    }

    .offset10 {
        margin-left: 1030px
    }

    .offset9 {
        margin-left: 930px
    }

    .offset8 {
        margin-left: 830px
    }

    .offset7 {
        margin-left: 730px
    }

    .offset6 {
        margin-left: 630px
    }

    .offset5 {
        margin-left: 530px
    }

    .offset4 {
        margin-left: 430px
    }

    .offset3 {
        margin-left: 330px
    }

    .offset2 {
        margin-left: 230px
    }

    .offset1 {
        margin-left: 130px
    }

    .row-fluid {
        width: 100%
    }

    #nt_history .row-fluid {
        width: 90%;
        margin: 0 5%;
    }

    .row-fluid:after,.row-fluid:before {
        display: table;
        content: "";
        line-height: 0
    }

    .row-fluid:after {
        clear: both
    }

    .row-fluid [class*=span] {
        display: block;
        width: 100%;
        min-height: 1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
/*        margin-left: 2.56410256%*/
    }

    .row-fluid [class*=span]:first-child {
        margin-left: 0
    }

    .row-fluid .controls-row [class*=span]+[class*=span] {
        margin-left: 2.56410256%
    }

    .row-fluid .span12 {
        width: 100%
    }

    .row-fluid .span11 {
        width: 91.45299145%
    }

    .row-fluid .span10 {
        width: 82.90598291%
    }

    .row-fluid .span9 {
        width: 74.35897436%
    }

    .row-fluid .span8 {
        width: 65.81196581%
    }

    .row-fluid .span7 {
        width: 57.26495726%
    }

    .row-fluid .span6 {
        width: 48.71794872%
    }

    .row-fluid .span5 {
        width: 40.17094017%
    }

    .row-fluid .span4 {
        width: 31.62393162%
    }

    .row-fluid .span3 {
        width: 23.07692308%
    }

    .row-fluid .span2 {
        width: 14.52991453%
    }

    .row-fluid .span1 {
        width: 5.98290598%
    }

    .row-fluid .offset12 {
        margin-left: 105.12820513%
    }

    .row-fluid .offset12:first-child {
        margin-left: 102.56410256%
    }

    .row-fluid .offset11 {
        margin-left: 96.58119658%
    }

    .row-fluid .offset11:first-child {
        margin-left: 94.01709402%
    }

    .row-fluid .offset10 {
        margin-left: 88.03418803%
    }

    .row-fluid .offset10:first-child {
        margin-left: 85.47008547%
    }

    .row-fluid .offset9 {
        margin-left: 79.48717949%
    }

    .row-fluid .offset9:first-child {
        margin-left: 76.92307692%
    }

    .row-fluid .offset8 {
        margin-left: 70.94017094%
    }

    .row-fluid .offset8:first-child {
        margin-left: 68.37606838%
    }

    .row-fluid .offset7 {
        margin-left: 62.39316239%
    }

    .row-fluid .offset7:first-child {
        margin-left: 59.82905983%
    }

    .row-fluid .offset6 {
        margin-left: 53.84615385%
    }

    .row-fluid .offset6:first-child {
        margin-left: 51.28205128%
    }

    .row-fluid .offset5 {
        margin-left: 45.2991453%
    }

    .row-fluid .offset5:first-child {
        margin-left: 42.73504274%
    }

    .row-fluid .offset4 {
        margin-left: 36.75213675%
    }

    .row-fluid .offset4:first-child {
        margin-left: 34.18803419%
    }

    .row-fluid .offset3 {
        margin-left: 28.20512821%
    }

    .row-fluid .offset3:first-child {
        margin-left: 25.64102564%
    }

    .row-fluid .offset2 {
        margin-left: 19.65811966%
    }

    .row-fluid .offset2:first-child {
        margin-left: 17.09401709%
    }

    .row-fluid .offset1 {
        margin-left: 11.11111111%
    }

    .row-fluid .offset1:first-child {
        margin-left: 8.54700855%
    }

    .uneditable-input,input,textarea {
        margin-left: 0
    }

    .controls-row [class*=span]+[class*=span],.thumbnails>li {
        margin-left: 30px
    }

    .uneditable-input.span12,input.span12,textarea.span12 {
        width: 1156px
    }

    .uneditable-input.span11,input.span11,textarea.span11 {
        width: 1056px
    }

    .uneditable-input.span10,input.span10,textarea.span10 {
        width: 956px
    }

    .uneditable-input.span9,input.span9,textarea.span9 {
        width: 856px
    }

    .uneditable-input.span8,input.span8,textarea.span8 {
        width: 756px
    }

    .uneditable-input.span7,input.span7,textarea.span7 {
        width: 656px
    }

    .uneditable-input.span6,input.span6,textarea.span6 {
        width: 556px
    }

    .uneditable-input.span5,input.span5,textarea.span5 {
        width: 456px
    }

    .uneditable-input.span4,input.span4,textarea.span4 {
        width: 356px
    }

    .uneditable-input.span3,input.span3,textarea.span3 {
        width: 256px
    }

    .uneditable-input.span2,input.span2,textarea.span2 {
        width: 156px
    }

    .uneditable-input.span1,input.span1,textarea.span1 {
        width: 56px
    }

    .thumbnails {
        margin-left: -30px
    }

    .row-fluid .thumbnails {
        margin-left: 0
    }


    #nt_history > section > div.items-row div.span6 {
        width: 50%;
    }

    #nt_history > section > div.items-row div.span6:nth-child(odd) {
        width: 49.6%;
    }
  
    .page-category__history .items-row:before {
        margin-left: 9px;
    }

    .row-fluid [class*=itemSpan], .row-fluid [class*=span] {
        padding-left: 0;
        padding-right: 0;
    }
}

/* ----------------------------------------
 size < 1170px
-----------------------------------------*/

@media (max-width:1170px) {
    h1.heading-style-2,h2.heading-style-2,h3.heading-style-2,h4.heading-style-2,h5.heading-style-2,h6.heading-style-2 {
        font-size: 60px;
        line-height: 80px;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        margin-left: 100px
    }

    .radial-progress .progressbar-text {
        font-family: 'Intro';
        font-size: 65px
    }

    .mod-newsflash-adv__progbars_circle .item_title {
        font-size: 13px
    }

    .accordion-toggle {
        padding: 10px 0 0 35px;
        font: 400 26px/1.2em 'Intro'
    }

    .mod-bootstrap-collapse.mod-bootstrap-collapse__ {
        margin-right: 0
    }

    .mod-newsflash-adv__pricing_detailed .row-fluid .item .head p,.mod-newsflash-adv__pricing_simple .row-fluid .item .head p {
        font: 400 20px/20px 'Intro'
    }

    .mod-newsflash-adv__pricing_detailed .row-fluid .item .head .price,.mod-newsflash-adv__pricing_simple .row-fluid .item .head .price {
        float: right;
        font: 400 33px/33px 'Intro'
    }

     h1.heading-style-2,h2.heading-style-2,h3.heading-style-2,h4.heading-style-2,h5.heading-style-2,h6.heading-style-2 {
        font-size: 70px;
        line-height: 100px;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        margin-left: 80px
    }

    .moduletable.ideas .item_introtext {
        margin-left: 60px;
        margin-right: 60px;
    }

    #module_226 .item__module > div.item_content > figure div {
        margin: 0;
    }

    .list_carousel {
        margin: 0;
    }
    
    #caroufredsel_91 .item > div.item_content {
        padding: 0;
    }

    section.page-category__careers div.item_introtext,
    #module_220.mod-article-single.mod-article-single__about div.item_introtext {
        margin-left: 90px;
    }

    section.page-category__careers div.item_introtext {
        margin-right: 90px;
    }

}

/* ----------------------------------------
 size < 1100px
-----------------------------------------*/


@media (max-width:1100px) {

    #module_220.mod-article-single.mod-article-single__about div.item_introtext {
        margin-left: 80px;
    }

    .page-gallery__works .item_img .more_wrapper .vert-align .btn .item_introtext p {
        font: 300 15px/20px 'Roboto',sans-serif;
        text-transform: none
    }

    .camera_wrap .camera_caption {
        bottom: 10%
    }

    #logo {
        position: absolute;
        top: 60px;
        z-index: 1
    }

    #logo a img {
        height: 60px;
        margin: 60px 20px 20px 140px
    }

    #module_232 article.item__module.item .item_introtext p {
        font-size: 14px;
        line-height: 1.6em;
    }

    .body__blog_articles #content figure.img-intro {
      width: 100%;
      float: none;
      border-bottom: 0px;
    }

    .body__blog_articles #content div.blog_info_container {
      overflow: hidden;
      width: 100%;
      border-top: 0px;
    }

    .body__blog_articles #content h3.item_title {
      padding: 0 50px;
      margin-top: 50px;
    }

    section.page-category__blog_articles>div.items-row.row-fluid .item {
      max-width: 550px;
      margin-bottom: 0;
      margin: 0 auto;
      border: 1px solid lightgray;
    }

  .body__blog_articles #content div.item_introtext {
    float: none;
    font-size: 18px;
    line-height: 1.6em;
  }

  .body__blog_articles #content h3.item_title {
    font-size: 24px;
    line-height: 1.2em;
  }

  .body__blog_articles #content span.article_date {
    font-size: 16px;
  }

  section.page-category__blog_articles>div.items-row.row-fluid {
    padding: 40px 0;
    border-bottom: 0;
  }
}

/* ----------------------------------------
 size < 1060px
-----------------------------------------*/


@media (max-width:1060px) {
    .mod-newsflash-adv__home_gallery .item .dropcap {
        font: 400 60px/60px 'Intro';
        left: 30px;
        bottom: 55%
    }

    .mod-newsflash-adv__home_gallery .item .item_info .item_title {
        font: 400 20px/22px 'Intro';
        padding: 10px 15px;
        margin-bottom: 10px
    }

 /*   #nt_history > section > div.items-row div.span6 {
        padding-left: 60px;
    }*/

    body.body__works.option-com_content.view-category.itemid-522.scrolled #content-bottom header > h3 {
      margin-right: 80px;
      margin-left: 80px;
    }

}

/* ----------------------------------------
 size < 980px
-----------------------------------------*/


@media (max-width:980px) {
  #Kunena table .krow1 td.krowmoderation,table tr td {
      padding: 35px!important;
  }

  .mod-newsflash-adv__counters .item .item_title {
      font: 400 80px/80px 'Intro'
  }

  h1.heading-style-1,h2.heading-style-1,h3.heading-style-1,h4.heading-style-1,h5.heading-style-1,h6.heading-style-1 {
      font-size: 70px;
      line-height: 1em;
      margin-bottom: 20px
  }

  .mod-newsflash-adv__pricing_detailed .row-fluid .item .item_content .readmore {
      padding-left: 38px;
      padding-right: 38px
  }

  .mod-newsflash-adv__pricing_detailed .row-fluid .item .head p,.mod-newsflash-adv__pricing_simple .row-fluid .item .head p {
      font: 400 20px/20px 'Intro';
      padding-bottom: 10px;
      float: none
  }

  .mod-newsflash-adv__pricing_detailed .row-fluid .item .head .price {
      float: none;
      font: 400 33px/33px 'Intro';
      padding-bottom: 10px
  }

  .mod-newsflash-adv__pricing_simple .row-fluid .item .item_content .readmore {
      padding-left: 38px;
      padding-right: 38px
  }

  .mod-newsflash-adv__pricing_simple .row-fluid .item .head .price {
      float: none;
      font: 400 33px/33px 'Intro';
      padding-bottom: 10px
  }

  .mod-newsflash-adv__home_gallery .item .item_img .more .readmore {
      margin-top: 22%;
      padding: 10px 20px
  }

  #back-top,.moduletable.top_menu_2 {
      display: none!important
  }

  .copyright {
      font: 300 16px/30px 'Roboto',sans-serif
  }

  body {
      font-family: 'Roboto',sans-serif;
      font-size: 18px;
      line-height: 1.6em;
  }

  .camera_wrap .camera_caption {
      bottom: 10%
  }


  .thumbnails>li {
      margin-left: 12px
  }

  #back-top {
      opacity: 0!important
  }

  .row-fluid [class*=itemSpan],.row-fluid [class*=span] {
      padding-left: 0;
  }

  .nav-collapse .dropdown-menu a,.nav-collapse .nav>li>a {
      font-weight: inherit
  }

  .stuck .moduletable.home_menu {
      margin-right: 20px
  }

  ul.icesubMenu li a.iceMenuTitle {
      font: 16px/16px 'Intro';
      color: #fff;
      text-transform: uppercase
  }

  h1.heading-style-2,h2.heading-style-2,h3.heading-style-2,h4.heading-style-2,h5.heading-style-2,h6.heading-style-2 {
      font-size: 40px;
      line-height: 60px;
      margin-left: 0
  }

  .camera_wrap .camera_caption>div {
      max-width: 740px
  }

  .camera_wrap .camera_caption>div .readmore {
      font: 400 20px/20px 'Intro';
      margin-top: 0;
      padding: 18px 40px
  }

  .camera_wrap .camera_caption>div h2 {
      color: #fff;
      font: 400 50px/50px 'Intro';
      padding-right: 50px
  }

  body {
      padding-top: 0
  }

  .navbar-fixed-bottom,.navbar-fixed-top {
      position: static
  }

  .navbar-fixed-top {
      margin-bottom: 36px
  }

  .navbar-fixed-bottom {
      margin-top: 36px
  }

  .navbar-fixed-bottom .navbar-inner,.navbar-fixed-top .navbar-inner {
      padding: 5px
  }

  .navbar .container {
      width: auto;
      padding: 0
  }

  .navbar .brand {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 0 0 -5px
  }

  .nav-collapse {
      clear: both
  }

  .nav-collapse .nav {
      float: none;
      margin: 0 0 18px
  }

  .nav-collapse .nav>li {
      float: none
  }

  .nav-collapse .dropdown-menu li+li a,.nav-collapse .nav>li>a {
      margin-bottom: 2px
  }

  .nav-collapse .dropdown-menu:after,.nav-collapse .dropdown-menu:before,.nav-collapse .nav>.divider-vertical {
      display: none
  }

  .nav-collapse .nav .nav-header {
      color: #777;
      text-shadow: none
  }

  .nav-collapse .dropdown-menu a,.nav-collapse .nav>li>a {
      padding: 9px 15px;
      font-weight: 700;
      color: #000;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px
  }

  .nav-collapse .btn {
      padding: 4px 10px;
      font-weight: 400;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0
  }

  .nav-collapse .dropdown-menu a:focus,.nav-collapse .dropdown-menu a:hover,.nav-collapse .nav>li>a:focus,.nav-collapse .nav>li>a:hover {
      background-color: transparent
  }

  .navbar-inverse .nav-collapse .dropdown-menu a,.navbar-inverse .nav-collapse .nav>li>a {
      color: #999
  }

  .navbar-inverse .nav-collapse .dropdown-menu a:focus,.navbar-inverse .nav-collapse .dropdown-menu a:hover,.navbar-inverse .nav-collapse .nav>li>a:focus,.navbar-inverse .nav-collapse .nav>li>a:hover {
      background-color: #111
  }

  .nav-collapse.in .btn-group {
      margin-top: 5px;
      padding: 0
  }

  .nav-collapse .dropdown-menu {
      position: static;
      top: auto;
      left: auto;
      float: none;
      display: none;
      max-width: none;
      margin: 0 15px;
      padding: 0;
      background-color: transparent;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none
  }

  .nav-collapse .open>.dropdown-menu {
      display: block
  }

  .nav-collapse .dropdown-menu .divider,.nav-collapse .nav>li>.dropdown-menu:after,.nav-collapse .nav>li>.dropdown-menu:before {
      display: none
  }

  .nav-collapse .navbar-form,.nav-collapse .navbar-search {
      float: none;
      padding: 18px 15px;
      margin: 18px 0;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
      -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
      box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1)
  }

  .navbar-inverse .nav-collapse .navbar-form,.navbar-inverse .nav-collapse .navbar-search {
      border-top-color: #111;
      border-bottom-color: #111
  }

  .navbar .nav-collapse .nav.pull-right {
      float: none;
      margin-left: 0
  }

  .nav-collapse,.nav-collapse.collapse {
      overflow: hidden;
      height: 0
  }

  .navbar .btn-navbar {
      display: block
  }

  .navbar-static .navbar-inner {
      padding-left: 10px;
      padding-right: 10px
  }

  .nav-collapse.collapse {
      height: auto!important;
      overflow: visible!important
  }

  .page-category__history .items-row:before {
      margin-left: 5px
  }

  .page-category__history .items-row>div:before {
      right: -27px
  }

  .page-category__history .items-row>div+div::before {
      left: -14px
  }

  .page-category__history .items-row>div .item:after,.page-category__history .items-row>div .item:before {
      border-bottom: 10px solid transparent;
      border-top: 10px solid transparent;
      content: '';
      position: absolute;
      top: 24px;
      border-left: 10px solid #e5e5e5;
      right: -10px
  }

  .page-category__history .items-row>div+div .item:after,.page-category__history .items-row>div+div .item:before {
      border-bottom: 10px solid transparent;
      border-left: none;
      border-top: 10px solid transparent;
      content: '';
      position: absolute;
      right: auto;
      top: 24px;
      border-right: 10px solid #e5e5e5;
      left: -10px
  }

  .mod-custom__headertop { 
      font-size: 20px;
  }

  .item_introtext .moduletable.ideas {
      margin: 0 60px;
      line-height: 1.6em;
  }

  h1.heading-style-2, h2.heading-style-2, h3.heading-style-2, h4.heading-style-2, h5.heading-style-2, h6.heading-style-2 {
      font-size: 60px;
      margin-left: 60px;
  }

  #caroufredsel_91 p {
      line-height: 1.6em;
  }

  #module_91 {
      margin: 0 60px;
  }

  .row-fluid .span9 {
      width: 100%;
  }

  #module_220.mod-article-single.mod-article-single__about div.item_introtext,
  section.page-category__careers div.item_introtext {
      margin: 0 60px;
  }

/*  #nt_history > section > div.items-row div.span6 {
      padding-left: 40px;
  }*/


  .view-article h2.item_title {
      font-size: 50px;
      margin: .1em 0;
  }
  
  body.view-article #content div.item_fulltext h4 {
      margin: 1em 0 .5em;
      font-size: 30px;
  }

  .mod-menu-main {
        display: block;
  }

  .mod-menu-alt {
        display: none;
  }

    #menu-line {
        display: none;
    }
}



/* ----------------------------------------
 500px < size < 950px
-----------------------------------------*/

@media (min-width:500px) and (max-width:950px) {
    .row-fluid [class*=span].site_map {
        float: left;
        width: 50%
    }

    .row-fluid [class*=span].site_map:nth-child(2n-1) {
        clear: both
    }
}

/* ----------------------------------------
 size < 870px
-----------------------------------------*/


@media (max-width:870px) {
    #logo a img {
        height: 60px;
        margin: 60px 20px 20px 55px
    }

    form.mod_tm_ajax_contact_form .control-group-button .btn {
        margin-right: 10px;
        margin-bottom: 20px
    }

    table th {
        font-size: 20px;
        line-height: 36px
    }

    .page-gallery__works .gallery-item .item_introtext {
        display: none
    }

    .page-gallery__works .item_img .more_wrapper .vert-align .btn .item_title {
        color: #fff;
        padding-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px
    }

    .page-gallery__works .gallery-item .gallery-item__content .more_wrapper a .item_header {
        margin-top: 30%
    }

    .category_desc ul li a,.item_fulltext ul li a,.item_introtext ul li a,.site_map ul li a {
        font: 400 14px/20px 'Intro'
    }

    #caroufredsel_91 .item > div.item_content {
        margin: 0 60px;
    }

      #module_91 {
        margin: 0;
   }
}

/* ----------------------------------------
 size < 820px
-----------------------------------------*/


@media (max-width:820px) {
    .camera_wrap .camera_caption {
        bottom: 5%
    }

    div.footer-contacts>.moduletable>.module_container {
        font-size: 13px;
    }

}


/* ----------------------------------------
 size < 800px
-----------------------------------------*/

@media (max-width:800px) {
    .img-full__left.span5 {
        width: 50%
    }

    .mod_tm_ajax_contact_form .controls, .mod_tm_ajax_contact_form_input {
        text-align: center;
    }

    .nt-logo {
      display: block !important;
      width: 40%;
      padding-bottom: 60px;
    }

    .mod-custom__headertop > div {
      max-width: 1170px;
      margin: auto;
      padding: 130px 50px;
    }

    #header {
      min-height: 56px;
    }

    #header > div.moduletable.home_gallery {
      padding-top: 56px;
    }

    #nt_history > section > div.items-row div.span6 {
  /*    padding-left: 60px; ломает отступ в истории компании*/
/*        padding-left: 40px;  ломает отступ в истории компании */
    }

    body.body__blog_articles #content {
    padding-top: 65px;
  }

}



/* ----------------------------------------
 size < 770px
-----------------------------------------*/

@media (max-width:770px) {

    .view-article h2.item_title {
        font-size: 40px;
        margin: .1em 0 1em;
    }
    .mod_caroufredsel__testimonials .list_carousel .item .item_content .oh {
        margin-left: 0
    }

    .page-gallery__works .gallery-item .gallery-item__content .more_wrapper a .item_header {
        margin-top: 33%
    }

    .list_carousel ul li.item .item_content {
        margin: 0;
        padding: 0;
    }

    #module_91 .list_carousel ul li.item .item_content {
        margin: 0 60px;
    }


    #adminForm #images .input-prepend.input-append .btn+input {
        width: 55%!important;
        padding-left: 12%!important
    }

    body #style_switcher,body div#fixed-sidebar-right .moduletable.login {
        top: 56px!important
    }

    .gallery-item .jg_imgalign_catimgs .jg_photo_custom,.jg_imgalign_catsubs .jg_subcatelem_photo .jg_photo_custom,.rd-mobilemenu_submenu .icemega_modulewrap.top_search .mod-search #searchword {
        width: 100%
    }

    .mod-newsflash-adv__counters .item+.item::before {
        display: none
    }

    .nav-tabs li {
        margin-bottom: 10px;
        margin-left: 0!important
    }

    .category_desc ol li,
    .item_fulltext ol li,
    .item_introtext ol li,
    .site_map ol li {
        position: relative;
        padding-left: 25px;
/*        text-align: center ломает верстку в статье*/
    }

    .category_desc ol li::before,.category_desc ul li::before,.item_fulltext ol li::before,.item_fulltext ul li::before,.item_introtext ol li::before,.item_introtext ul li::before,.site_map ol li::before,.site_map ul li::before {
        padding-right: 20px;
/*        position: relative*/
    }

    .category_img,.item_img {
        margin: 0 0 20px;
        text-align: center
    }

    h1.heading-style-1,h2.heading-style-1,h3.heading-style-1,h4.heading-style-1,h5.heading-style-1,h6.heading-style-1 {
        font-size: 70px;
        margin-bottom: 20px;
        line-height: 1em;
    }

    #content {
        padding-top: 70px;
        padding-bottom: 60px
    }

    .nav-tabs>li>a,.nav-tabs>li>span {
        font: 400 22px/23px 'Intro';
        padding: 20px 67px;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        display: block
    }

    #Kunena .nav-tabs>li {
        display: block;
        margin-bottom: 10px
    }

    .mod-article-single.mod-article-single__dependability .readmore,.mod_caroufredsel__staff .list_carousel .item .item_content img {
        float: none
    }

    #breadcrumbs .breadcrumb,#breadcrumbs h6,.mod-article-single.mod-article-single__creativity,.mod-article-single.mod-article-single__creativity .item_introtext,.mod-article-single.mod-article-single__dependability,.mod-article-single.mod-article-single__dependability .item_introtext,.mod-article-single.mod-article-single__experience,.mod-article-single.mod-article-single__experience .item_introtext {
        text-align: center
    }

    .img-full__left,.img-intro__left {
        float: none;
        margin-right: 30px;
        max-width: 100%;
        text-align: center
    }

    .img-full__right,.img-intro__right {
        float: none;
        margin-left: 30px;
        max-width: 100%;
        text-align: center
    }

    #breadcrumbs {
        padding-top: 130px
    }

    .mod_caroufredsel__staff .list_carousel .item .item_content .pad_1 {
        padding-bottom: 0
    }

    .mod_caroufredsel__staff .list_carousel .item .item_content .oh {
        overflow: hidden;
        float: none;
        margin-left: 0;
        margin-top: 20px
    }

    .category_desc ul li,.item_fulltext ul li,.item_introtext ul li,.site_map ul li {
        position: relative;
        padding-left: 25px
    }

    .slider .camera_wrap .camera_caption {
        bottom: 3%
    }

    .slider .camera_wrap {
        margin-top: -130px
    }

    .camera_wrap .camera_caption>div {
        max-width: 630px
    }

    #style_switcher {
        top: 75px;
        width: 295px;
        z-index: 1012;
        padding: 21px 20px 29px 30px;
        background: #333
    }

    div#fixed-sidebar-right .moduletable.login {
        top: 75px
    }

    .camera_wrap .camera_caption>div h4 {
        display: block;
        font: 300 18px/50px 'Roboto',sans-serif
    }

    .camera_wrap .camera_caption>div h2 {
        color: #fff;
        font: 400 20px/20px 'Intro';
        padding-right: 50px;
        display: block
    }

    .copyright {
        font: 300 16px/30px 'Roboto',sans-serif;
        text-align: center
    }

    #copyright .moduletable {
        float: none;
        text-align: center
    }

    .moduletable.contact header,.moduletable.location header {
        text-align: center!important
    }

    .mod-newsflash-adv__home_gallery .item .dropcap {
        font: 400 70px/70px 'Intro';
        left: 30px;
        bottom: 35%
    }

    .mod-newsflash-adv__home_gallery .item .item_img .more .readmore {
        margin-top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 25%;
        background-color: rgba(0,0,0,.3);
    }

    #logo {
        position: absolute;
        top: 20px;
        z-index: 1;
        text-align: center
    }

    #logo a img {
        height: 80px
    }

    body {
        padding: 0
    }

    .icemegamenu,.item_introtext table,.rd-mobilemenu_submenu .icemega_modulewrap.top_search .mod-search i.fa-times,.rd-mobilemenu_submenu .icemega_modulewrap.top_search>i.fa-search {
        display: none
    }

    .icemega_modulewrap .icemega_cover_module {
        padding-left: 20px;
        padding-right: 20px
    }

    #logo a {
        margin: 0
    }

    .rd-mobilemenu_ul a.active,.rd-mobilemenu_ul li.level_1.active>a {
        color: #fff;

    }

    .rd-mobilemenu_submenu .item,.rd-mobilemenu_submenu .item__module {
        opacity: 1;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0)
    }

    .rd-mobilemenu_submenu [class*=span] {
        width: 100%!important
    }

    .rd-mobilemenu_submenu .icemega_modulewrap.top_search .mod-search {
        position: static;
        visibility: visible;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 15px;
        margin-top: 10px
    }

    .nav.menu.pull-right.nav-pills {
        float: none;
        text-align: center
    }

    .nav.menu.pull-right.nav-pills li {
        display: inline-block;
        float: none
    }

    [class*=cols] [class*=span] {
        width: 100%
    }

    .row-fluid [class*=itemSpan],.row-fluid [class*=span] {
        display: block;
        float: none;
        margin-left: 0;
        width: 100%
    }

    .row-fluid [class*=itemSpan] [class*=span],.row-fluid [class*=itemSpan]+[class*=itemSpan],.row-fluid [class*=span] [class*=span],.row-fluid [class*=span]+[class*=itemSpan] {
        margin-top: 30px
    }

    .item_introtext dl.table,.nav-tabs li {
        display: block
    }


    .mod-newsflash-adv__progbars_circle .row-fluid .span3 {
        width: 50%;
        float: left
    }

    .mod-newsflash-adv__progbars_circle .row-fluid .span3:nth-child(2n-1) {
        clear: both
    }


    .hidden-desktop {
        display: inherit!important
    }

    .visible-desktop {
        display: none!important
    }

    .visible-phone {
        display: inherit!important
    }

    .hidden-phone {
        display: none!important
    }

    .navbar-fixed-bottom,.navbar-fixed-top,.navbar-static-top {
        margin-left: -20px;
        margin-right: -20px
    }

    .container-fluid {
        padding: 0
    }

    .dl-horizontal dt {
        float: none;
        clear: none;
        width: auto;
        text-align: left
    }

    .dl-horizontal dd {
        margin-left: 0
    }

    .container {
        width: auto
    }

    .row-fluid {
        width: 100%
    }

    .row,.thumbnails {
        margin-left: 0
    }

    .thumbnails>li {
        float: none;
        margin-left: 0
    }

    .row-fluid [class*=span],.uneditable-input[class*=span],[class*=span] {
        float: none;
        display: block;
        margin-left: 0
    }

    .row-fluid .span12,.row-fluid [class*=span],.span12,.uneditable-input[class*=span],[class*=span] {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    .row-fluid [class*=offset]:first-child {
        margin-left: 0
    }

    .input-large,.input-xlarge,.input-xxlarge,.uneditable-input,input[class*=span],select[class*=span],textarea[class*=span] {
        display: block;
        width: 100%;
        min-height: 1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    .input-append input,.input-append input[class*=span],.input-prepend input,.input-prepend input[class*=span] {
        display: inline-block;
        width: auto
    }

    .controls-row [class*=span]+[class*=span] {
        margin-left: 0
    }

    .row {
        margin-left: -12px
    }

    .row:after,.row:before {
        display: table;
        content: "";
        line-height: 0
    }

    .row:after {
        clear: both
    }

    [class*=span] {
        float: left;
        min-height: 1px;
        margin-left: 12px
    }

    .container,.navbar-fixed-bottom .container,.navbar-fixed-top .container,.navbar-static-top .container,.span12 {
        width: 756px
    }

    .span11 {
        width: 692px
    }

    .span10 {
        width: 628px
    }

    .span9 {
        width: 564px
    }

    .span8 {
        width: 500px
    }

    .span7 {
        width: 436px
    }

    .span6 {
        width: 372px
    }

    .span5 {
        width: 308px
    }

    .span4 {
        width: 244px
    }

    .span3 {
        width: 180px
    }

    .span2 {
        width: 116px
    }

    .span1 {
        width: 52px
    }

    .offset12 {
        margin-left: 780px
    }

    .offset11 {
        margin-left: 716px
    }

    .offset10 {
        margin-left: 652px
    }

    .offset9 {
        margin-left: 588px
    }

    .offset8 {
        margin-left: 524px
    }

    .offset7 {
        margin-left: 460px
    }

    .offset6 {
        margin-left: 396px
    }

    .offset5 {
        margin-left: 332px
    }

    .offset4 {
        margin-left: 268px
    }

    .offset3 {
        margin-left: 204px
    }

    .offset2 {
        margin-left: 140px
    }

    .offset1 {
        margin-left: 76px
    }

    .row-fluid {
        width: 100%
    }

    .row-fluid:after,.row-fluid:before {
        display: table;
        content: "";
        line-height: 0
    }

    .row-fluid:after {
        clear: both
    }

    .row-fluid [class*=span] {
        display: block;
        width: 100%;
        min-height: 1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
    }

    .row-fluid [class*=span]:first-child {
        margin-left: 0
    }

    .row-fluid .span12 {
        width: 100%
    }

    .row-fluid .span11 {
        width: 91.53439153%
    }

    .row-fluid .span10 {
        width: 83.06878307%
    }

    .row-fluid .span9 {
        width: 74.6031746%
    }

    .row-fluid .span8 {
        width: 66.13756614%
    }

    .row-fluid .span7 {
        width: 57.67195767%
    }

    .row-fluid .span6 {
        width: 49.20634921%
    }

    .row-fluid .span5 {
        width: 40.74074074%
    }

    .row-fluid .span4 {
        width: 32.27513228%
    }

    .row-fluid .span3 {
        width: 23.80952381%
    }

    .row-fluid .span2 {
        width: 15.34391534%
    }

    .row-fluid .span1 {
        width: 6.87830688%
    }

    .row-fluid .offset12 {
        margin-left: 103.17460317%
    }

    .row-fluid .offset12:first-child {
        margin-left: 101.58730159%
    }

    .row-fluid .offset11 {
        margin-left: 94.70899471%
    }

    .row-fluid .offset11:first-child {
        margin-left: 93.12169312%
    }

    .row-fluid .offset10 {
        margin-left: 86.24338624%
    }

    .row-fluid .offset10:first-child {
        margin-left: 84.65608466%
    }

    .row-fluid .offset9 {
        margin-left: 77.77777778%
    }

    .row-fluid .offset9:first-child {
        margin-left: 76.19047619%
    }

    .row-fluid .offset8 {
        margin-left: 69.31216931%
    }

    .row-fluid .offset8:first-child {
        margin-left: 67.72486772%
    }

    .row-fluid .offset7 {
        margin-left: 60.84656085%
    }

    .row-fluid .offset7:first-child {
        margin-left: 59.25925926%
    }

    .row-fluid .offset6 {
        margin-left: 52.38095238%
    }

    .row-fluid .offset6:first-child {
        margin-left: 50.79365079%
    }

    .row-fluid .offset5 {
        margin-left: 43.91534392%
    }

    .row-fluid .offset5:first-child {
        margin-left: 42.32804233%
    }

    .row-fluid .offset4 {
        margin-left: 35.44973545%
    }

    .row-fluid .offset4:first-child {
        margin-left: 33.86243386%
    }

    .row-fluid .offset3 {
        margin-left: 26.98412698%
    }

    .row-fluid .offset3:first-child {
        margin-left: 25.3968254%
    }

    .row-fluid .offset2 {
        margin-left: 18.51851852%
    }

    .row-fluid .offset2:first-child {
        margin-left: 16.93121693%
    }

    .row-fluid .offset1 {
        margin-left: 10.05291005%
    }

    .row-fluid .offset1:first-child {
        margin-left: 8.46560847%
    }

    .uneditable-input,input,textarea {
        margin-left: 0
    }

    .controls-row [class*=span]+[class*=span] {
        margin-left: 12px
    }

    .uneditable-input.span12,input.span12,textarea.span12 {
        width: 742px
    }

    .uneditable-input.span11,input.span11,textarea.span11 {
        width: 678px
    }

    .uneditable-input.span10,input.span10,textarea.span10 {
        width: 614px
    }

    .uneditable-input.span9,input.span9,textarea.span9 {
        width: 550px
    }

    .uneditable-input.span8,input.span8,textarea.span8 {
        width: 486px
    }

    .uneditable-input.span7,input.span7,textarea.span7 {
        width: 422px
    }

    .uneditable-input.span6,input.span6,textarea.span6 {
        width: 358px
    }

    .uneditable-input.span5,input.span5,textarea.span5 {
        width: 294px
    }

    .uneditable-input.span4,input.span4,textarea.span4 {
        width: 230px
    }

    .uneditable-input.span3,input.span3,textarea.span3 {
        width: 166px
    }

    .uneditable-input.span2,input.span2,textarea.span2 {
        width: 102px
    }

    .uneditable-input.span1,input.span1,textarea.span1 {
        width: 38px
    }

    #module_226 .item_num0,#module_226 .item_num1,#module_226 .item_num2,#module_226 .item_num3 {
        width: 100%
    }

    .mod-newsflash-adv__progbars_circle .row-fluid .span3 {
        width: 50%;
        float: left
    }

    .mod-newsflash-adv__progbars_circle .row-fluid .span3:nth-child(2n-1) {
        clear: both
    }

    #searchForm .ordering-box,#searchForm .phrases-box {
        float: none;
        padding-bottom: 36px
    }

    .login_shell .control-group+* {
        margin-top: 10px
    }

    .login_shell label.checkbox {
        padding-top: 0
    }

    .login_shell .reset_remind {
        margin: 10px 0
    }

    .page-category__history .items-row:before {
        left: 39px;
        margin-left: 0
    }

    .page-category__history .items-row>div+div {
        float: none
    }

    .page-category__history .items-row>div+div:before {
        left: 0
    }

    .page-category__history .items-row>div::before {
        left: 0;
        right: auto
    }

    .page-category__history .items-row>div .item {
        margin-left: 50px;
    }

    .page-category__history .items-row>div .item:after,.page-category__history .items-row>div .item:before {
        border-left: none;
        border-right: 10px solid #e5e5e5;
        left: -10px;
        right: auto
    }

    .page-category__history .items-row>div .item .item_info,.page-category__history .items-row>div+div .item .item_info {
        margin: 0;
        position: static
    }

    .body__404 .big-404 {
        margin-bottom: 15px
    }

    #member-profile,#member-registration,#user-registration,.input-prepend input,.page-login {
        width: 100%
    }

    #helpsite-refresh {
        display: block;
        margin-top: 10px
    }

    .page_profile .btn-toolbar {
        float: none
    }

    #adminForm #images .input-prepend.input-append .btn {
        width: 10%
    }

    #adminForm #images .input-prepend.input-append .btn+input {
        width: 75%;
        padding-left: 12%
    }

    #adminForm #images .input-prepend.input-append .btn+input+.btn {
        width: 15%
    }    

    #navigation .moduletable.ideas {
        width: 100%;
    }

    .mod-newsflash-adv__home_gallery .item__module .item_content {
      margin: 10px 20px;
    }

    .mod-newsflash-adv__home_gallery .item_num0 .item_content {
      margin: 15px 20px 10px;
    }
    .mod-newsflash-adv__home_gallery .lastItem .item_content {
      margin: 10px 20px 20px;
    }

    .mod-newsflash-adv__home_gallery .item .item_img .more {
      background-image: none; 
      background-color: transparent;
      opacity: 1;
    }

    .mod-newsflash-adv__home_gallery .item .item_img .more {
      background-color: transparent;      
    }
    
    .mod-newsflash-adv__home_gallery .item .item_img:hover .more {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 9;
    }

    .mod-newsflash-adv__home_gallery .item .item_info  {
      display: none;
    }

    #module_226 .more, #module_232 .more {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: baseline;
      text-align: left;
      padding: 30px 30px;
      background-color: rgba(0,0,0,0.7);
      height: unset;
      bottom: 0;
      top: unset;
    }

    #item_210 div.item_content > figure .item_introtext, .nt-cont div.item_content > figure .item_introtext {
      padding: 0;
    }

    #module_232 article.item__module.item {
      width: 100%;
    }

    .mod-newsflash-adv__home_gallery .item_num0 .item_content {
      margin: 10px 15px 5px;
    }

    .mod-newsflash-adv__home_gallery .item__module .item_content {
      margin: 5px 10px;
    }

    .mod-newsflash-adv__home_gallery .lastItem .item_content {
      margin: 5px 10px 15px;
    }

    #navigation .moduletable.about.span9 {
      width: 100%;
    }

    #nt_history > section .span6 {
      width: 88%;
      margin-right: 7%;
      margin-left: 20px;
    }

    #nt_history > section > div.items-row div.span6:nth-child(odd),
    #nt_history > section > div.items-row div.span6 {
        width: unset;
    }

/*    .page-category__history .items-row > div + div .item {
         margin-left: 20px; 
    }*/
} 
/* 770end */


/* ----------------------------------------
 size < 680px
-----------------------------------------*/


@media (max-width:680px) {
    .camera_wrap .camera_caption>div {
        max-width: 520px
    }

    .camera_wrap .camera_caption>div h4 {
        font: 300 15px/30px 'Roboto',sans-serif
    }

    .camera_wrap .camera_caption>div h2 {
        font: 400 20px/20px 'Intro',cursive;
        padding-right: 50px
    }

    h1.heading-style-1, h2.heading-style-1, h3.heading-style-1, h4.heading-style-1, h5.heading-style-1, h6.heading-style-1 {
        font-size: 50px;
    }

    .mod-newsflash-adv__home_gallery .item__module .item_content,
    .mod-newsflash-adv__home_gallery .lastItem .item_content {
      margin: 0;
    }

    div.contact_form>.module_container {
        padding: 0 10%
    }

    body.body__works.view-article.itemid-203 .img-full > div,
    body.view-article .page-item.page-item__home .img-full > div {
        min-height: 350px;
    }

}


/* ----------------------------------------
 size < 640px
-----------------------------------------*/

@media (max-width:640px) {

    #modules-form fieldset#jform_published label.btn span {
        display: none
    }

    .menu.social li,h2 {
        display: inline-block
    }

    #header {
        text-align: center
    }

    .moduletable.top_social .menu.social li {
        padding: 0 5px
    }

    .menu.social li {
        padding: 0;
        margin: 0 5px
    }

    .camera_wrap .camera_caption {
        display: none!important
    }

    ul#order {
        float: none
    }

    #adminForm #images .input-prepend.input-append .btn+input {
        width: 55%!important;
        padding-left: 12%!important;
        display: block;
        margin-bottom: 20px
    }

    h1.heading-style-2::before,h2.heading-style-2::before,h3.heading-style-2::before,h4.heading-style-2::before,h5.heading-style-2::before,h6.heading-style-2::before {
        width: 100px;
        left: -50px
    }

    h1.heading-style-2::after,h2.heading-style-2::after,h3.heading-style-2::after,h4.heading-style-2::after,h5.heading-style-2::after,h6.heading-style-2::after {
        width: 57px
    }

    .moduletable.dependability header .moduleTitle::before {
        right: -50px;
        left: auto
    }

    .menu.social li,h2 {
        display: inline-block
    }

    h2 {
        margin-left: 60px
    }

    .item.visible-first, .item__module.visible-first {
       text-align: left;
    }

    h1.heading-style-2,h2.heading-style-2,h3.heading-style-2,h4.heading-style-2,h5.heading-style-2,h6.heading-style-2 {
        font-size: 40px;
        line-height: 60px;
        margin-left: 60px;
    }



    .mod_caroufredsel__testimonials .list_carousel .item .item_content .btn {
        font: 20px/30px 'Intro';
        color: #fff;
        text-transform: uppercase;
        margin-top: 0;
        padding: 0;
        background: 0 0;
        border-radius: 0;
    }

/*    .item_introtext {
      text-align: left;
    }*/

    .nt-logo {
      margin: auto;
    }

    figure.item_img div.more>div.item_introtext>p {
      font-size: 16px;
    }

    body {
      font-size: 16px;
    }

    #maintop .list_carousel h5 {
      font-size: 26px;
      line-height: 1.3em;
    }

    .category_desc ul li:before, .item_fulltext ul li:before, .item_introtext ul li:before, .site_map ul li:before {
      font-size: 27px;
    }

    section.page-category__blog_articles>div.items-row.row-fluid {
      padding: 0;
    }

    #content {
        padding-top: 60px;
    }
}

/* ----------------------------------------
 size < 610px
-----------------------------------------*/

@media (max-width:610px) {
    .camera_wrap .camera_caption>div {
        max-width: 670px
    }

    .camera_wrap .camera_caption>div h2 {
        color: #fff;
        font: 400 28px/40px 'Intro',cursive;
        padding-right: 50px
    }

    .moduletable.top_social .menu.social li {
        margin-right: 0
    }

    .camera_wrap .camera_caption>div h4 {
        font: 300 20px/30px 'Roboto',sans-serif
    }

    #content {
       padding-bottom: 0;
    }

    body.view-article #content div.item_fulltext {
       padding: 10px 30px;
    }
}


/* ----------------------------------------
 size < 550px
-----------------------------------------*/

@media (max-width:550px) {
    .mod-newsflash-adv__home_gallery .item .dropcap {
      font: 400 70px/70px 'Intro';
      left: 30px;
      bottom: 45%
  }

  #buttom_logo {
      display: none;
  }

  .btn {
    font-size: 18px;
    line-height: 22px;
    padding: 20px 40px;
  }

  div.moduletable.contact_form>.module_container .control-group-button {
      margin-top: 20px;
  }

  .accordion-group {
      padding: 36px 20px;
  }

  .view-article h2.item_title {
      font-size: 30px;
  }

  body.view-article #content div.item_fulltext h4 {
    margin: 1em 0 .5em;
    font-size: 24px;
  }

#module_226 .item__module > div.item_content > figure > div {
    height: 100%;
    background-color: unset; 
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}


    body.body__works .home_gallery > .module_container > header > h3 {
        margin: 0;
        font-size: 30px;
        text-align: center;
    }
}


/* ----------------------------------------
 size < 480px
-----------------------------------------*/

@media (max-width:480px) {
    #Kunena div.kthead-title a {
        font: 400 20px/20px 'Intro';
        text-transform: uppercase;
        color: #1a1a1a
    }

    h1.heading-style-3,h2.heading-style-3,h3.heading-style-3,h4.heading-style-3,h5.heading-style-3,h6.heading-style-3 {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 30px
    }

    .mod-newsflash-adv__home_gallery .item .item_info .item_title {
        margin-bottom: 0
    }

    .mod-article-single.mod-article-single__creativity .item_introtext,.mod-article-single.mod-article-single__dependability .item_introtext,.mod-article-single.mod-article-single__experience .item_introtext {
        padding-top: 0;
        max-width: 340px;
        text-align: center;
        margin: 0 auto
    }

    .item_img,.moduletable .mod-article-single {
        text-align: center
    }

    .mod-article-single.mod-article-single__dependability .readmore {
        float: none
    }


    .mod-newsflash-adv__home_gallery .item .dropcap {
        font: 400 50px/50px 'Intro';
        left: 30px;
        bottom: auto;
        top: 30px
    }

    .alert {
        padding: 28px 58px 28px 70px
    }

    .alert:before {
        left: 10px;
        font-size: 40px
    }

    .img-full__left.span5 {
        margin-right: 0;
        width: 100%
    }

    .item_img {
        float: none;
        margin: 0 0 36px;
        max-width: 100%
    }

    .portfolio-thumbs {
        margin-right: 0;
        max-width: 100%
    }

    .portfolio-thumbs ul {
        margin-left: -12px;
        margin-right: 0;
        overflow: hidden
    }

    .portfolio-thumbs ul li {
        padding-left: 12px;
        padding-right: 0
    }

    .data-table dl,.portfolio-thumbs {
        float: none;
        width: 100%
    }

    .data-table dl+dl {
        border-left: 1px solid #dfe0e0;
        border-top: none
    }

    .jg_photo,.mod-login__aside .mod-login_passwd,.mod-login__aside .mod-login_userdata,.mod-login__aside .mod-login_username,.mod-search__aside .mod-search_searchword {
        width: 100%
    }

    .mod-login__aside .mod-login_userdata {
        overflow: hidden
    }

    div.modal {
        position: absolute
    }

    #error input {
        width: 200px
    }

    .item_fulltext table tr td:before,.item_introtext table tr td:before {
        font-size: 28px;
        padding: 10px
    }

    .item_fulltext table tr td+td,.item_introtext table tr td+td {
        border-left: none
    }

    .chzn-container {
        width: 100%!important;
        min-width: 200px
    }

    #habla_beta_container_do_not_rely_on_div_classes_or_names {
        display: none!important
    }

     #Kunena div.kthead-title a {
        font: 400 20px/20px 'Intro',cursive;
        text-transform: uppercase;
        color: #1a1a1a
    }

    h1.heading-style-3,h2.heading-style-3,h3.heading-style-3,h4.heading-style-3,h5.heading-style-3,h6.heading-style-3 {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 30px
    }

    .mod-newsflash-adv__home_gallery .item .item_info .item_title {
        margin-bottom: 0
    }

    .mod-article-single.mod-article-single__creativity .item_introtext,.mod-article-single.mod-article-single__dependability .item_introtext,.mod-article-single.mod-article-single__experience .item_introtext {
        padding-top: 0;
        max-width: 340px;
        text-align: center;
        margin: 0 auto
    }

    .mod-article-single.mod-article-single__dependability .readmore {
        float: none
    }


    .mod-newsflash-adv__home_gallery .item .dropcap {
        font: 400 50px/50px 'Intro',cursive;
        left: 30px;
        bottom: auto;
        top: 30px
    }

    .alert {
        padding: 28px 58px 28px 70px
    }

    .alert:before {
        left: 10px;
        font-size: 40px
    }

    .img-full__left.span5 {
        margin-right: 0;
        width: 100%
    }

    .item_img {
        float: none;
        margin: 0 0 36px;
        max-width: 100%
    }

    .portfolio-thumbs {
        margin-right: 0;
        max-width: 100%
    }

    .portfolio-thumbs ul {
        margin-left: -12px;
        margin-right: 0;
        overflow: hidden
    }

    .portfolio-thumbs ul li {
        padding-left: 12px;
        padding-right: 0
    }

    .data-table dl,.portfolio-thumbs {
        float: none;
        width: 100%
    }

    .data-table dl+dl {
        border-left: 1px solid #dfe0e0;
        border-top: none
    }

    .jg_photo,.mod-login__aside .mod-login_passwd,.mod-login__aside .mod-login_userdata,.mod-login__aside .mod-login_username,.mod-search__aside .mod-search_searchword {
        width: 100%
    }

    .mod-login__aside .mod-login_userdata {
        overflow: hidden
    }

    div.modal {
        position: absolute
    }

    #error input {
        width: 200px
    }

    .item_fulltext table tr td:before,.item_introtext table tr td:before {
        font-size: 28px;
        padding: 10px
    }

    .item_fulltext table tr td+td,.item_introtext table tr td+td {
        border-left: none
    }

    .chzn-container {
        width: 100%!important;
        min-width: 200px
    }

    #habla_beta_container_do_not_rely_on_div_classes_or_names {
        display: none!important
    }

  .nav-collapse {
        -webkit-transform: translate3d(0,0,0)
    }

    .page-header h1 small {
        display: block;
        line-height: 36px
    }

    input[type=checkbox],input[type=radio] {
        border: 1px solid #ccc
    }

    .form-horizontal .control-label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left
    }

    .form-horizontal .controls {
        margin-left: 0
    }

    .form-horizontal .control-list {
        padding-top: 0
    }

    .form-horizontal .form-actions {
        padding-left: 10px;
        padding-right: 10px
    }

    .media .pull-left,.media .pull-right {
        float: none;
        display: block;
        margin-bottom: 10px
    }

    .media-object {
        margin-right: 0;
        margin-left: 0
    }

    .modal-header .close {
        padding: 10px;
        margin: -10px
    }

    .carousel-caption {
        position: static
    }

  .control-label+.controls {
        margin-top: 10px
    }

    .page-category__history .items-row>div .item {
        padding: 20px
    }

    .page-item__privacy_policy .item_fulltext [class*=heading-style] {
        float: none;
        width: 100%
    }

    .page-item__privacy_policy .item_fulltext p {
        margin-left: 0
    }

    .page-item__privacy_policy .item_fulltext p:before {
        display: none
    }

    #modules-form .btn span:not(.icon-calendar) {
        display: none
    }

    #modules-form .form-horizontal .control-label {
        padding-bottom: 10px;
        padding-top: 0
    }

    #adminForm #images .input-prepend.input-append .btn {
        width: 1343%
    }

    #adminForm #images .input-prepend.input-append .btn+input {
        width: 64%;
        padding-left: 15%
    }

    #adminForm #images .input-prepend.input-append .btn+input+.btn {
        width: 25%
    }

    #login-form .controls .input-append .btn,#login-form .controls .input-prepend .btn,#member-profile .controls .input-append .btn,#member-profile .controls .input-prepend .btn,#member-registration .controls .input-append .btn,#member-registration .controls .input-prepend .btn,#user-registration .controls .input-append .btn,#user-registration .controls .input-prepend .btn {
        margin-bottom: 0
    }

    #adminForm .btn-toolbar .btn-group,#login-form .controls .btn,#member-profile .controls .btn,#member-registration .controls .btn,#user-registration .controls .btn {
        margin-bottom: 10px
    }

    #searchForm .phrases-box>.controls,#searchForm fieldset .controls>label {
        display: block
    }

    #searchForm .btn-toolbar .btn-group {
        width: 70%
    }

    #searchForm .btn-toolbar .btn-group+.btn-group {
        width: 20%
    }

    div#fixed-sidebar-right .moduletable.login .mod_login_wrapper {
        right: 280px
    }

    div#fixed-sidebar-right .moduletable.login.shown {
        width: 280px
    }

    div#fixed-sidebar-right .moduletable.login.shown .mod_login_wrapper {
        padding-left: 20px;
        padding-right: 20px;
        width: 280px;
        right: 0
    }

    h1.heading-style-1,
    h2.heading-style-1,
    h3.heading-style-1,
    h4.heading-style-1,
    h5.heading-style-1,
    h6.heading-style-1 {
        font-size: 40px;
        line-height: 1.2em;
        margin: 0;
    }

    body.body__about #navigation, body.body__home #navigation {
        padding: 100px 0 100px;
    }

    #module_226 .item__module > div.item_content > figure div {
        margin: unset
    }

    #header p {
        line-height: 1.6em;
        font-size: 17px;
        padding-top: 30px;
    }

    .nt-logo {
      width: 60%;
    }
    
    div.footer-contacts .mod-custom > p {
      display: block;
      text-align: left;
    }

    body.body__home #maintop {
      padding: 80px 0 80px;
   }

    .accordion-toggle {
      font: 400 20px/1.2em 'Intro';
    }

    body.view-article .item_fulltext ol {
        padding-left: 20px;
    }

    body.view-article .item_fulltext ol li {
       padding-left: 5px;
    }

    body.view-article .item_fulltext ol ul li {
       padding-left: 20px;
    }
}

/* ----------------------------------------
 size < 430px
-----------------------------------------*/

@media (max-width:430px) {
    h1.heading-style-1,
    h2.heading-style-1,
    h3.heading-style-1,
    h4.heading-style-1,
    h5.heading-style-1,
    h6.heading-style-1 {
      font-size: 32px;
      line-height: 1.2em;
  }

  h1.heading-style-2,
  h2.heading-style-2,
  h3.heading-style-2,
  h4.heading-style-2,
  h5.heading-style-2,
  h6.heading-style-2 {
    font-size: 30px;
    line-height: 40px;
    margin-left: 40px;
  }

  #maintop .list_carousel h5 {
    font-size: 22px;
  }
  
  body.body__about #navigation, body.body__home #navigation {
    padding: 60px 0 60px;
  }

  #showcase > div {
    padding-top: 60px;
  }

  #showcase .moduletable.home_gallery header .moduleTitle {
    margin: 0 0 40px;
  }

  div.moduletable.contact_form header>h3 {
    line-height: 1.2em;
  }

  div.moduletable.contact_form>.module_container {
    margin: 40px auto;
    padding: 0 20px;
  }

  #message_228 ~ fieldset .span6 {
    width: 100%;
  }

  .moduletable.ideas .item_introtext {
    margin: 0 40px;
    line-height: 1.6em;
  }

  #module_91 .list_carousel ul li.item .item_content {
    margin: 0 40px;
  }

  .control-group, .controls, .mod_tm_ajax_contact_form .control-group {
    position: relative;
    margin-bottom: 20px;
  }

  div.moduletable.contact_form header>h3 {
    margin: 2em 0 1.2em;
  }

  #module_220.mod-article-single.mod-article-single__about div.item_introtext,
  section.page-category__careers div.item_introtext {
      margin: 0 40px;
  }


  body.body__works.option-com_content.view-category.itemid-522.scrolled #content-bottom header > h3 {
    font-size: 28px;
  }

}

/* ----------------------------------------
 size < 350px
-----------------------------------------*/

@media (max-width:350px) {
    .page-gallery__works .gallery-item .gallery-item__content .more_wrapper a .item_header {
        margin-top: 32%
    }

    h1.heading-style-2,h2.heading-style-2,h3.heading-style-2,h4.heading-style-2,h5.heading-style-2,h6.heading-style-2 {
        margin-left: 20px;
    }

    div#fixed-sidebar-right .moduletable.login.shown {
        width: 220px
    }

    div#fixed-sidebar-right .moduletable.login.shown .mod_login_wrapper {
        padding-left: 20px;
        padding-right: 20px;
        width: 220px;
        right: 0
    }

    #style_switcher {
        width: 210px!important;
        padding: 10px!important;
    }

    #style_switcher ul li div.color_scheme {
        height: 26px!important;
        width: 26px!important
    }

    .page-gallery__works .gallery-item .gallery-item__content .more_wrapper a .item_header {
        margin-top: 32%
    }

    h1.heading-style-2,h2.heading-style-2,h3.heading-style-2,h4.heading-style-2,h5.heading-style-2,h6.heading-style-2 {
        margin-left: 20px;
    }

    div#fixed-sidebar-right .moduletable.login.shown {
        width: 220px
    }

    div#fixed-sidebar-right .moduletable.login.shown .mod_login_wrapper {
        padding-left: 20px;
        padding-right: 20px;
        width: 220px;
        right: 0
    }

    #style_switcher {
        width: 210px!important;
        padding: 10px!important
    }

    #style_switcher ul li div.color_scheme {
        height: 26px!important;
        width: 26px!important
    }

    figure.item_img div.more>div.item_introtext>p {
      font-size: 14px;
    }

    .mod-custom__headertop > div {
      padding: 100px 20px;
    }

    .moduletable.ideas .item_introtext {
      margin-left: 20px;
      margin-right: 20px;
    }

    #module_91 .list_carousel ul li.item .item_content {
      margin: 0 20px;
    }

    #nt_history .row-fluid {
        width: 95%;
        margin: 0;
    }

    #nt_history > section > div.items-row div.span6 {
        margin: 0;
        padding-left: 20px;
    }

    .page-category__history .items-row>div::before {
        width: 20px;
        line-height: 20px;
        left: 7px;
        top: 25px;
        font-size: 12px;
    }

    .page-category__history .items-row>div+div:before {
        left: 7px;
    }

    .page-category__history .items-row:before {
        left: 16px;
        margin-left: 0;
    }

    #module_220.mod-article-single.mod-article-single__about div.item_introtext,
    section.page-category__careers div.item_introtext {
        margin: 0 20px;
    }

    .page-category__history .items-row>div .item {
        margin-left: 20px;
    }

    .page-category__history .items-row>div+div .item {
        margin-left: 20px;      
    }
}


/* ----------------------------------------
 size < 320px
-----------------------------------------*/

@media (max-width:320px) {
    #Kunena div.kthead-title a {
        font: 400 18px/20px 'Intro',cursive;
        text-transform: uppercase;
        color: #1a1a1a
    }

  .view-article h2.item_title {
     font-size: 22px;
  }

  body.view-article #content div.item_fulltext h4 {
    font-size: 18px;
  }

  body {
    font-size: 14px;
  }

  .body__blog_articles #content span.article_date {
    float: right;
    position: relative;
    right: -41px;
    top: 38px;
    font-size: 12px;
  }
}



@media (max-width:270px) {
    .view-article h2.item_title {
        font-size: 18px;
    }

    body.view-article #content div.item_fulltext h4 {
        font-size: 16px;
    }