.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-moz-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-ms-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-o-keyframes h-progress {
  0% {
    width: 0;
  }
}
@keyframes h-progress {
  0% {
    width: 0;
  }
}
@-webkit-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-moz-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-ms-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-o-keyframes v-progress {
  0% {
    height: 0;
  }
}
@keyframes v-progress {
  0% {
    height: 0;
  }
}
.icemegamenu {
  float: right;
  position: static;
  width: 100%;
}
.icemegamenu > ul {
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
/*  display: table;*/
  z-index: 999;
  text-align: right;
}
.icemegamenu > ul:before,
.icemegamenu > ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.icemegamenu > ul:after {
  clear: both;
}
.icemegamenu > ul > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 3px 15px;
}
.icemegamenu > ul > li + li {
  margin-left: 0;
}
.icemegamenu > ul > li > a.iceMenuTitle {
  text-align: center;
  display: block;
  font: 18px / 40px 'Roboto';
  padding: 0;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  color: #ffffff;
  background: transparent;
}
.icemegamenu > ul > li > a.iceMenuTitle * {
  font: inherit;
}
.icemegamenu > ul > li > a.iceMenuTitle.hover,
.icemegamenu > ul > li > a.iceMenuTitle.icemega_active {
  color: #0D91FF;
  background: transparent;
}
.icemegamenu > ul > li.hover > a.iceMenuTitle {
  color: #0D91FF;
  background: transparent;
}
.icemegamenu > ul > li.hover > a.iceMenuTitle.menu-login-form {
  background: none;
  color: #1a1a1a;
}
.icemegamenu > ul > li span.icemega_desc {
  color: #ffffff;
  display: block;
  line-height: 1.25em;
  padding: 0;
}
.icemegamenu > ul > li.fullwidth {
  position: static;
}
.icemegamenu > ul > li.menu-login-form > a.iceMenuTitle {
  font-size: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: none;
  color: #0D91FF;
}
.icemegamenu > ul > li.menu-login-form > a.iceMenuTitle:before {
  content: '\f007';
  font-size: 30px;
  font-family: 'FontAwesome';
}
.icemegamenu > ul > li.menu-login-form > a.iceMenuTitle:after {
  display: none;
}
.icemegamenu > ul > li.menu-login-form.hover > a.iceMenuTitle,
.icemegamenu > ul > li.menu-login-form.hover > a.iceMenuTitle.hover > a.iceMenuTitle:hover {
  color: #1a1a1a;
  background: none;
}
.icemegamenu > ul > li.menu-login-form ul.icesubMenu.sub_level_1 {
  left: auto;
  right: 20px;
  -webkit-transform: translate(0px, 30px);
  -moz-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  -o-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}
.icemegamenu > ul > li.menu-login-form ul.icesubMenu.sub_level_1:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #777777 transparent;
  right: 0;
  left: auto;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.icemegamenu > ul > li.menu-search > a.iceMenuTitle {
  display: none;
}
.icemegamenu > ul > li.menu-search > ul.icesubMenu {
  position: static;
  height: auto;
  padding: 0;
  margin-top: 0;
  opacity: 1;
  overflow: visible;
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  pointer-events: auto;
}
.icemegamenu > ul > li.menu-search > ul.icesubMenu:before {
  display: none;
}
.icemegamenu > ul > li.menu-search .fa-times {
  display: block;
  font-size: 20px;
}
.icemegamenu .ice-megamenu-toggle {
  display: none;
}
/* when dont have subtitle */
.icemegamenu > ul > li > a.iceMenuTitle > span.icemega_nosubtitle {
  display: inline-block;
}
ul.icesubMenu {
  height: 0;
  left: 50%;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 100%;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: translate(-50%, 30px);
  -moz-transform: translate(-50%, 30px);
  -ms-transform: translate(-50%, 30px);
  -o-transform: translate(-50%, 30px);
  transform: translate(-50%, 30px);
  z-index: 9999;
  background: #1a1a1a;
  border: none;
  text-transform: capitalize;
}
ul.icesubMenu li a.iceMenuTitle {
  display: block;
  font: 16px / 20px 'Roboto';
  padding: 10px 20px;
  color: #ffffff;
  text-transform: uppercase;
}
ul.icesubMenu li.active > a.iceMenuTitle,
ul.icesubMenu li:hover > a.iceMenuTitle,
ul.icesubMenu li.hover > a.iceMenuTitle {
  color: #0D91FF;
}
ul.icesubMenu li:first-child {
  padding-top: 10px;
}
ul.icesubMenu li.last-child {
  padding-bottom: 10px;
}
ul.icesubMenu.sub_level_1 {
  margin-top: 20px;
}
ul.icesubMenu.sub_level_2 {
  margin-top: -15px;
}
ul.icesubMenu:before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: -11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 11px 11px;
  border-color: transparent transparent #1a1a1a transparent;
}
li[class*=iceMenuLiLevel] {
  padding: 0;
}
li[class*=iceMenuLiLevel]:before {
  display: none;
}
#icemegamenu li.iceMenuLiLevel_1.hover > ul.icesubMenu {
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
#icemegamenu li.iceMenuLiLevel_1.hover.menu-login-form > ul.icesubMenu {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
ul.icesubMenu.sub_level_2:before,
ul.icesubMenu.sub_level_2:after {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  content: '';
  position: absolute;
  top: 23px;
}
ul.icesubMenu.sub_level_2:before {
  left: -5px;
}
ul.icesubMenu.sub_level_2:after {
  border-right: 5px solid #FFF;
  left: -4px;
}
#icemegamenu li.iceMenuLiLevel_1 li.hover > ul.icesubMenu {
  height: auto;
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
  -webkit-transform: translate(0, 0px);
  -moz-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  transform: translate(0, 0px);
}
#icemegamenu ul.icesubMenu.visible {
  height: auto;
}
ul.icesubMenu ul > li {
  position: relative;
}
li.iceMenuLiLevel_2.parent > a:after {
  content: '\f054';
  font-family: FontAwesome;
  font-size: 8px;
  height: 0;
  line-height: 0;
  position: absolute;
  right: 7px;
  top: 50%;
}
li.iceMenuLiLevel_2.parent.hover a {
  position: relative;
}
li.iceMenuLiLevel_2.parent.hover a:before {
  content: '';
  height: 100%;
  left: 100%;
  position: absolute;
  top: 0;
  width: 11px;
}
/* when is parent */
ul.icesubMenu > li:before {
  display: none;
}
ul.icesubMenu > li > .iceCols {
  max-width: 100% !important;
  padding-bottom: 15px;
}
ul.icesubMenu > li > .iceCols > ul > li + li .icemega_cover_module {
  margin-top: 18px;
  padding-top: 28px;
}
/* Second Level Dropdown */
ul.sub_level_2,
ul.sub_level_3,
ul.sub_level_4,
ul.sub_level_5 {
  left: 100%;
  margin-left: 10px;
  top: 0px;
  -webkit-transform: translate(30px, 0);
  -moz-transform: translate(30px, 0);
  -ms-transform: translate(30px, 0);
  -o-transform: translate(30px, 0);
  transform: translate(30px, 0);
  z-index: 99999;
}
ul.icesubMenu ul > li.hover > ul {
  opacity: 1;
  overflow: visible;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  visibility: visible;
}
.icesubMenu .icemega_cover_module span.iceModuleTile {
  display: block;
}
.ice_righttoleft {
  left: auto !important;
  right: 0;
}
.icemega_modulewrap {
  padding: 5px;
}
.nav-collapse .icesubMenu .nav > li > a,
.nav-collapse .icesubMenu .dropdown-menu a {
  margin-bottom: 0;
  padding: 0;
}
.nav-collapse.collapse {
  height: auto;
}
.fullwidth {
  position: static !important;
}
.fullwidth.hover ul.icesubMenu.sub_level_1 {
  -webkit-transform: translate(0, 0px) !important;
  -moz-transform: translate(0, 0px) !important;
  -ms-transform: translate(0, 0px) !important;
  -o-transform: translate(0, 0px) !important;
  transform: translate(0, 0px) !important;
}
.fullwidth ul.icesubMenu.sub_level_1 {
  left: 0px;
  padding: 0;
  -webkit-transform: translate(0, 30px);
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
}
.fullwidth ul.icesubMenu.sub_level_1:before {
  display: none;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing {
  margin: 0;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .mod-newsflash-adv__pricing {
  margin-bottom: 0;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item {
  color: #FFF;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 0;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_content {
  padding: 15px 19px 15px 19px;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_content .item_title {
  margin-bottom: 0;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_introtext p {
  display: none;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_introtext .price {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_introtext .price strong {
  display: block;
  font-size: 19px;
  font-weight: normal;
  line-height: 36px;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.pricing .item .item_introtext .price small {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  margin-left: 10px;
  vertical-align: bottom;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap {
  padding: 0;
}
.fullwidth ul.icesubMenu.sub_level_1 .icemega_cover_module .icemega_modulewrap.aside {
  padding-top: 20px;
}
.fullwidth ul.icesubMenu.sub_level_1 .iceCols > ul {
  padding: 0 28px;
}
.fullwidth ul.icesubMenu.sub_level_1 > li {
  padding: 24px 1px 23px 3px;
  position: relative;
}
.fullwidth ul.icesubMenu.sub_level_1 > li > .iceCols + .iceCols:before {
  bottom: 31px;
  content: '';
  position: absolute;
  top: 30px;
  width: 1px;
}
@media (max-width: 979px) {
  .icemegamenu {
    overflow: visible !important;
  }
}

ul#icemegamenu .main_menu {
  display: none;
}

ul#icemegamenu > li.request_demo {
  background-color: #0D91FF;
}

ul#icemegamenu > li.request_demo:hover {
  background-color: #fff;
}


ul#icemegamenu > li.request_demo > a.iceMenuTitle > span {
  padding: 0 10px;
}
