.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-moz-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-ms-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-o-keyframes h-progress {
  0% {
    width: 0;
  }
}
@keyframes h-progress {
  0% {
    width: 0;
  }
}
@-webkit-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-moz-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-ms-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-o-keyframes v-progress {
  0% {
    height: 0;
  }
}
@keyframes v-progress {
  0% {
    height: 0;
  }
}
#Kunena div.kblock div.kbody {
  font: 300 16px/26px 'Roboto', sans-serif;
}
#Kunena legend {
  color: inherit;
}
#Kunena .progress-horizontal .text-inner {
  display: none;
}
#Kunena .progress-horizontal .text {
  z-index: 1;
}
#Kunena table .kblocktable {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  border-top: none;
}
#Kunena td {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
#Kunena #advsearch_options span.radio_wrapper {
  white-space: nowrap;
  display: inline-block;
  padding: 0 20px 10px 0;
  font-size: 19px;
  line-height: 18px;
}
#Kunena .kunena_body .kblock:first-child {
  margin-top: 0;
}
#Kunena form {
  margin: 0;
}
#Kunena form textarea {
  font-family: 'Roboto', sans-serif;
}
#Kunena .kicon-button {
  background: none !important;
  cursor: auto;
}
#Kunena .kicon-button span span {
  color: #fff;
}
#Kunena div.kmessage-editmarkup-cover {
  border: none;
}
#Kunena .usersortable a {
  color: #ffffff;
}
#Kunena label {
  display: inline;
}
#Kunena .highlight {
  margin-top: 10px;
}
#Kunena div.kblock {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 30px;
}
#Kunena div.kblock div.kheader table {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
}
#Kunena div.kblock div.kheader th > span {
  display: block;
}
#Kunena div.kblock div.kheader th > span.k-name {
  display: inline;
}
#Kunena div.kblock div.kheader th > span.kright {
  float: right;
}
#Kunena div.kblock div.kheader th > span a {
  color: inherit;
}
#Kunena div.kblock div.kheader th > span a:hover {
  color: #1a1a1a;
}
#Kunena div.kblock div.kheader div.ktitle-desc,
#Kunena div.kblock div.kheader div.ksearchresult-desc {
  font-size: 20px;
  line-height: 22px;
  font-weight: 300;
  text-transform: lowercase;
}
#Kunena div.kblock div.kheader div.ktitle-desc {
  margin-top: 5px;
}
#Kunena .kbody:after {
  clear: both;
  content: '';
  display: block;
}
#Kunena .ktoggler {
  display: none;
}
#Kunena div.input,
#Kunena span.input,
#Kunena td.input {
  display: inline-block;
  max-width: 100%;
  padding: 10px 0 5px;
}
#Kunena div.input input,
#Kunena span.input input,
#Kunena td.input input {
  margin-right: 5px;
}
#Kunena div.input > span,
#Kunena span.input > span,
#Kunena td.input > span {
  display: block;
  padding: 10px 0 0;
  white-space: nowrap;
}
#Kunena div.input > span label,
#Kunena span.input > span label,
#Kunena td.input > span label {
  display: inline-block;
  margin-bottom: 10px;
}
#Kunena div.input > span button,
#Kunena span.input > span button,
#Kunena td.input > span button {
  float: right;
  margin-right: 5px;
}
#Kunena .klink-block span {
  padding: 0 5px 0 0;
}
#Kunena .klink-block span.kprofilebox-register {
  display: block;
  padding: 5px 0 0;
}
#Kunena + div[style] {
  display: none;
}
#Kunena #kprofile li,
#Kunena #kbbcode-toolbar li {
  padding: 0;
}
#Kunena #kprofile li:before,
#Kunena #kbbcode-toolbar li:before {
  display: none;
}
#Kunena #kbbcode-toolbar li:nth-child(9),
#Kunena #kbbcode-toolbar li:nth-child(6n+16):nth-child(-6n+22),
#Kunena #kbbcode-toolbar li:nth-child(4n+25) {
  display: none;
}
#Kunena .progress-horizontal {
  opacity: 1;
  visibility: visible;
}
#Kunena .kcol-category-icon {
  color: #fc2c53;
  background: none;
}
#Kunena .kcol-category-icon > a {
  color: inherit;
}
#Kunena .kcol-category-icon > a:hover {
  color: #1a1a1a;
  background: none;
}
#Kunena span.kunreadforum,
#Kunena span.kreadforum,
#Kunena span.knotloginforum,
#Kunena .kwhoicon,
#Kunena .kstatsicon {
  height: auto;
  padding-top: 0;
  width: auto;
  font-size: 20px;
  line-height: 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
#Kunena span.kunreadforum:before,
#Kunena span.kreadforum:before,
#Kunena span.knotloginforum:before,
#Kunena .kwhoicon:before,
#Kunena .kstatsicon:before {
  font-family: 'FontAwesome';
}
#Kunena span.kunreadforum,
#Kunena span.knotloginforum,
#Kunena .kwhoicon,
#Kunena .kstatsicon {
  color: #fc2c53;
  background: none;
}
#Kunena span.kunreadforum:before {
  content: '\f07b';
}
#Kunena span.kreadforum:before,
#Kunena span.knotloginforum:before {
  content: '\f115';
  font-family: 'FontAwesome';
}
#Kunena .kwhoicon:before {
  content: '\f0c0';
}
#Kunena .kstatsicon:before {
  content: '\f1fe';
}
#Kunena div.kmessage-buttons-row {
  height: auto;
  line-height: inherit;
  font-size: 19px;
  margin: 0;
  padding-top: 20px;
}
#Kunena .klist-actions-forum div.kmessage-buttons-row {
  display: inline-block;
}
#Kunena .klist-bottom {
  padding-bottom: 0 !important;
}
#Kunena .kwholegend {
  display: none;
}
#Kunena .kcol-ktopicicon {
  color: #fc2c53;
  font-size: 32px;
  line-height: 32px;
}
#Kunena form[name=kcategoryform] {
  margin-bottom: 30px;
}
#Kunena img[src$='unanswered.png'],
#Kunena img[src$='normal.png'] {
  height: 0;
  width: 0;
}
#Kunena .k-profile .clrline {
  display: none;
}
#Kunena .k-profile .kheader a.kwho-admin {
  font-size: 0;
  font-weight: normal;
  line-height: 0;
}
#Kunena .k-profile .kheader a.kwho-admin:after {
  content: '\f044';
  font-family: 'FontAwesome';
  font-size: 20px;
  line-height: 24px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#Kunena .k-profile .kheader .back a.kwho-admin:after {
  content: '\f112';
}
#Kunena div.kavatar-lg {
  border: none;
  display: block;
  height: auto;
}
#Kunena span[class*='kbuttononline'] {
  margin: 0;
}
#Kunena span[class*='kbuttononline'] span {
  margin: 0;
}
#Kunena span[class*='kbuttononline'] span span {
  color: inherit;
  padding: 0;
}
#Kunena #kprofile-tabs dl.tabs,
#Kunena #kprofile-edit dl.tabs {
  display: table;
  width: 100%;
}
#Kunena #kprofile-tabs dl.tabs dt,
#Kunena #kprofile-edit dl.tabs dt {
  display: table-cell;
  float: none;
  padding: 10px 0;
  text-align: center;
}
#Kunena #kprofile-tabs dl.tabs dt.open,
#Kunena #kprofile-edit dl.tabs dt.open,
#Kunena #kprofile-tabs dl.tabs dt:hover,
#Kunena #kprofile-edit dl.tabs dt:hover {
  color: #fc2c53;
}
#Kunena #kprofile-tabs dl.tabs dt + dt,
#Kunena #kprofile-edit dl.tabs dt + dt {
  border-left: none;
}
#Kunena #kprofile-tabs .editlinktip input,
#Kunena #kprofile-edit .editlinktip input {
  display: inline-block;
}
#Kunena .kicon-profile-location,
#Kunena .kicon-profile-gender-male,
#Kunena .kicon-profile-birthdate,
#Kunena .kicon-profile-email {
  background: none;
}
#Kunena .kicon-profile-location:before,
#Kunena .kicon-profile-gender-male:before,
#Kunena .kicon-profile-birthdate:before,
#Kunena .kicon-profile-email:before {
  font-family: 'FontAwesome';
  line-height: 15px;
  color: #fc2c53;
}
#Kunena .kicon-profile-location:before {
  content: '\f015';
  font-size: 18px;
}
#Kunena .kicon-profile-gender-male:before {
  content: '\f007';
  font-size: 18px;
}
#Kunena .kicon-profile-birthdate:before {
  content: '\f1fd';
  font-size: 16px;
}
#Kunena .kicon-profile-email:before {
  content: '\f0e0';
  font-size: 16px;
}
#Kunena div.kiconrow {
  padding-right: 0;
}
#Kunena div.kiconrow span[class*="off"] {
  display: none;
}
#Kunena div.kiconrow .kicon-profile:before {
  font-family: 'FontAwesome';
  font-size: 17px;
  line-height: 15px;
}
#Kunena .kicon-profile-twitter,
#Kunena .kicon-profile-facebook,
#Kunena .kicon-profile-linkedin,
#Kunena .kicon-profile-skype,
#Kunena .kicon-profile-delicious,
#Kunena .kicon-profile-digg,
#Kunena .kicon-profile-flickr {
  background: none;
}
#Kunena .kicon-profile-twitter:before {
  content: '\f081';
}
#Kunena .kicon-profile-facebook:before {
  content: '\f082';
}
#Kunena .kicon-profile-linkedin:before {
  content: '\f08c';
}
#Kunena .kicon-profile-skype:before {
  content: '\f17e';
}
#Kunena .kicon-profile-delicious:before {
  content: '\f1a5';
}
#Kunena .kicon-profile-digg:before {
  content: '\f1a6';
}
#Kunena .kicon-profile-flickr:before {
  content: '\f16e';
}
#Kunena .kprofile-rightcol ul {
  margin: 0;
}
#Kunena #kprofile-rightcol div.current {
  overflow: inherit;
}
#Kunena #kprofile-rightcol .chzn-container {
  min-width: 200px;
}
#Kunena #kprofile-rightcol .chzn-container li {
  padding: 10px 20px;
}
#Kunena .chzn-results .active-result {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#Kunena #kprofile-stats .kicon-button {
  cursor: auto;
}
#Kunena span.kmsgtitle,
#Kunena span.kmsgtitle-new {
  background: none;
  padding-left: 0;
}
#Kunena .klist-markallcatsread,
#Kunena .klist-jump-all,
#Kunena .klist-times-all,
#Kunena div.kmoderatorslist-jump {
  border: none;
  margin: 0;
}
#Kunena .klist-markallcatsread form#jumpto,
#Kunena .klist-jump-all form#jumpto,
#Kunena .klist-times-all form#jumpto,
#Kunena div.kmoderatorslist-jump form#jumpto,
#Kunena .klist-markallcatsread form#timeselect,
#Kunena .klist-jump-all form#timeselect,
#Kunena .klist-times-all form#timeselect,
#Kunena div.kmoderatorslist-jump form#timeselect {
  font-size: 0;
  line-height: 0;
  margin: 0 0 30px;
}
#Kunena .klist-markallcatsread form#jumpto span.select,
#Kunena .klist-jump-all form#jumpto span.select,
#Kunena .klist-times-all form#jumpto span.select,
#Kunena div.kmoderatorslist-jump form#jumpto span.select,
#Kunena .klist-markallcatsread form#timeselect span.select,
#Kunena .klist-jump-all form#timeselect span.select,
#Kunena .klist-times-all form#timeselect span.select,
#Kunena div.kmoderatorslist-jump form#timeselect span.select,
#Kunena .klist-markallcatsread form#jumpto .chzn-container,
#Kunena .klist-jump-all form#jumpto .chzn-container,
#Kunena .klist-times-all form#jumpto .chzn-container,
#Kunena div.kmoderatorslist-jump form#jumpto .chzn-container,
#Kunena .klist-markallcatsread form#timeselect .chzn-container,
#Kunena .klist-jump-all form#timeselect .chzn-container,
#Kunena .klist-times-all form#timeselect .chzn-container,
#Kunena div.kmoderatorslist-jump form#timeselect .chzn-container {
  margin-right: 10px !important;
}
#Kunena .klist-markallcatsread form#jumpto select#catid,
#Kunena .klist-jump-all form#jumpto select#catid,
#Kunena .klist-times-all form#jumpto select#catid,
#Kunena div.kmoderatorslist-jump form#jumpto select#catid,
#Kunena .klist-markallcatsread form#timeselect select#catid,
#Kunena .klist-jump-all form#timeselect select#catid,
#Kunena .klist-times-all form#timeselect select#catid,
#Kunena div.kmoderatorslist-jump form#timeselect select#catid {
  width: 370px;
}
#Kunena .klist-markallcatsread form#jumpto select#sel,
#Kunena .klist-jump-all form#jumpto select#sel,
#Kunena .klist-times-all form#jumpto select#sel,
#Kunena div.kmoderatorslist-jump form#jumpto select#sel,
#Kunena .klist-markallcatsread form#timeselect select#sel,
#Kunena .klist-jump-all form#timeselect select#sel,
#Kunena .klist-times-all form#timeselect select#sel,
#Kunena div.kmoderatorslist-jump form#timeselect select#sel {
  width: 194px;
}
#Kunena .klist-markallcatsread form#jumpto select#catid,
#Kunena .klist-jump-all form#jumpto select#catid,
#Kunena .klist-times-all form#jumpto select#catid,
#Kunena div.kmoderatorslist-jump form#jumpto select#catid,
#Kunena .klist-markallcatsread form#timeselect select#catid,
#Kunena .klist-jump-all form#timeselect select#catid,
#Kunena .klist-times-all form#timeselect select#catid,
#Kunena div.kmoderatorslist-jump form#timeselect select#catid,
#Kunena .klist-markallcatsread form#jumpto select#sel,
#Kunena .klist-jump-all form#jumpto select#sel,
#Kunena .klist-times-all form#jumpto select#sel,
#Kunena div.kmoderatorslist-jump form#jumpto select#sel,
#Kunena .klist-markallcatsread form#timeselect select#sel,
#Kunena .klist-jump-all form#timeselect select#sel,
#Kunena .klist-times-all form#timeselect select#sel,
#Kunena div.kmoderatorslist-jump form#timeselect select#sel {
  max-width: 370px;
}
#Kunena * + .klist-markallcatsread {
  margin-top: 15px;
}
#Kunena form[name=markAllForumsRead] {
  margin-bottom: 30px;
}
#Kunena .klist-markallcatsread + div.kblock {
  margin-top: 0;
}
#Kunena .klist-markallcatsread form#jumpto .chzn-container + * + .chzn-container,
#Kunena .krow1 td.krowmoderation .chzn-container + * + .chzn-container {
  margin-top: 5px;
}
#Kunena .klist-markallcatsread form#jumpto .chzn-container + * + .chzn-container + .btn,
#Kunena .krow1 td.krowmoderation .chzn-container + * + .chzn-container + .btn {
  margin-top: 5px;
}
#Kunena div.kthead-title a {
  font: 400 30px/30px 'Righteous', cursive;
  text-transform: uppercase;
  color: #1a1a1a;
}
#Kunena .kwhoonline {
  border: none;
  font-size: 19px;
  margin: 0;
  padding: 0;
}
#Kunena .kwhoonline strong {
  font-weight: normal;
  color: #fc2c53;
}
#Kunena td.kcol-kcatlastpost,
#Kunena td.kcol-knoposts {
  font-size: 16px;
  vertical-align: top;
  width: 24%;
}
#Kunena td.kcol-kcatlastpost a,
#Kunena td.kcol-knoposts a {
  color: #1a1a1a;
}
#Kunena td.kcol-kcatlastpost a:hover,
#Kunena td.kcol-knoposts a:hover {
  color: #fc2c53;
}
#Kunena span.kcat-topics-number,
#Kunena span.kcat-replies-number,
#Kunena span.ktopic-views-number {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  line-height: 30px;
  margin: 10px auto 0;
  width: 30px;
  font-size: 16px;
  background: #fc2c53;
  text-align: center;
}
#Kunena span.kcat-topics,
#Kunena span.kcat-replies,
#Kunena span.ktopic-views {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}
#Kunena div.klatest-subject-by:before {
  content: '\f007';
  display: inline-block;
  font-family: 'FontAwesome';
  width: 20px;
  color: #fc2c53;
  font-size: 12px;
}
#Kunena span.klatest-subject-time,
#Kunena span.ktopic-date {
  display: block;
  font-size: 16px;
}
#Kunena span.klatest-subject-time:before,
#Kunena span.ktopic-date:before {
  content: '\f073';
  display: inline-block;
  font-family: 'FontAwesome';
  width: 20px;
  color: #fc2c53;
  font-size: 12px;
}
#Kunena span.ktopic-latest-post {
  font-size: 19px;
}
#Kunena td.kcol-kcattopics,
#Kunena td.kcol-kcatreplies {
  vertical-align: top;
}
#Kunena ul#kstatslistleft li,
#Kunena ul#kstatslistright li {
  font-size: 19px;
}
#Kunena ul#kstatslistleft li strong,
#Kunena ul#kstatslistright li strong {
  font-weight: normal;
  color: #fc2c53;
}
#Kunena ul#kstatslistleft li span.divider,
#Kunena ul#kstatslistright li span.divider {
  color: #e1e1e1;
  margin: 0 10px;
}
#Kunena div.klist-actions {
  border: none;
  font-size: 0;
  line-height: 0;
  margin: 0;
}
#Kunena table.klist-actions {
  border: none;
}
#Kunena table.klist-actions .klist-actions-forum {
  border: none;
}
#Kunena div.kmessage-buttons-cover div.kmessage-buttons-row {
  padding-top: 0;
}
#Kunena div.kpost-thankyou {
  margin-top: 0;
}
#Kunena div.klist-actions-info-all {
  display: inline-block;
  font-size: 27px;
  font-weight: 500;
  height: auto;
  line-height: 36px;
  padding: 0 27px 0 0;
  vertical-align: middle;
  margin-bottom: 30px;
  color: #fc2c53;
}
#Kunena div.klist-actions-info-all strong {
  color: inherit;
  font: inherit;
}
#Kunena form[name=ktopicsform] div.kblock {
  margin-top: 0;
}
#Kunena div.klist-times-all,
#Kunena div.klist-jump-all,
#Kunena div.klist-pages-all,
#Kunena div.klist-times-all,
#Kunena div.klist-jump-all,
#Kunena div.klist-pages-all {
  border: none;
  display: inline-block;
  height: auto;
  padding: 0;
  vertical-align: middle;
}
#Kunena fieldset {
  border: none;
  margin: 0;
  padding: 0 0 13px;
}
#Kunena fieldset legend {
  border: none;
  font-size: 22px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
  padding: 0 0 4px;
  text-align: left;
  color: #333333;
}
#Kunena #kforumsearch {
  text-align: left;
}
#Kunena #kforumsearch #keywords {
  margin-right: 2%;
}
#Kunena #kforumsearch #keywords + .select {
  margin-right: 0;
}
#Kunena #kforumsearch #mode {
  margin: 0;
}
#Kunena #kforumsearch .searchlabel-checkbox {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  width: 47.2%;
}
#Kunena span.checkbox,
#Kunena span.radio {
  margin-right: 6px;
}
#Kunena #searchform .krow1 .kcol {
  vertical-align: top;
  width: 50%;
}
#Kunena #searchform #kusername {
  margin-right: 3.7%;
  width: 49%;
}
#Kunena #searchform .searchlabel-checkbox span.checkbox {
  margin-left: 8px;
}
#Kunena .kadvsearch {
  text-align: left;
}
#Kunena .kadvsearch fieldset > input,
#Kunena .kadvsearch .chzn-container {
  width: 48% !important;
  margin-right: 2%;
  display: inline-block;
  margin-bottom: 0;
}
#Kunena .kadvsearch .chzn-choices .search-field input {
  margin-bottom: 0;
}
#Kunena .kadvsearch input {
  margin-bottom: 25px;
}
#Kunena .kadvsearch fieldset {
  font-size: 0;
  line-height: 0;
}
#Kunena .kadvsearch fieldset #childforums-lbl,
#Kunena .kadvsearch fieldset .searchlabel-checkbox {
  font-size: 19px;
  line-height: 14px;
}
#Kunena .kadvsearch label#childforums-lbl {
  margin: 0 2% 10px 0px;
  width: 49%;
}
#Kunena .kadvsearch label#childforums-lbl span.checkbox {
  margin-right: 5px;
}
#Kunena .kadvsearch option {
  font-size: inherit;
}
#Kunena .kadvsearch #categorylist {
  float: right;
  width: 49%;
}
#Kunena .klatest-subject a {
  white-space: nowrap;
}
#Kunena select {
  margin-top: 0 !important;
  text-overflow: ellipsis;
}
#Kunena select option {
  overflow: hidden;
  text-overflow: ellipsis;
}
#Kunena .kadvsearch input,
#Kunena .kadvsearch select,
#Kunena .kadvsearch button,
#Kunena .kadvsearch label {
  max-width: 100% !important;
}
#Kunena input,
#Kunena select,
#Kunena label {
  margin-top: 0 !important;
}
#Kunena span.select select {
  width: 100%;
}
#Kunena ul.kpost-profile li.kpost-username {
  font: inherit;
}
#Kunena span.kavatar img {
  border: none;
  margin: 0;
  padding: 0;
}
#Kunena span.kmsgtitle,
#Kunena span.kmsgtitle-new,
#Kunena a.ktopic-title {
  font: inherit;
  font-weight: 500;
}
#Kunena tr.ksth th {
  font-weight: normal;
}
#Kunena div#ksearchresult td.resultmsg {
  border-bottom: 1px solid;
  padding: 10px 20px;
  text-align: left;
}
#Kunena div#ksearchresult div.kresult-title,
#Kunena div#ksearchresult div.resultmsg {
  padding: 0;
}
#Kunena div#ksearchresult div.kresult-title {
  border: none;
}
#Kunena div#ksearchresult span.kmsgtitle a {
  font: inherit;
}
#Kunena div#ksearchresult div.resultcat {
  border: none;
  padding: 0;
}
#Kunena span.ktopic-posted-time,
#Kunena span.ktopic-by,
#Kunena div.kmessage-thankyou,
#Kunena div.kmsg-header,
#Kunena ul.kpost-profile li,
#Kunena #khistory tr.ksth td,
#Kunena div#ksearchresult div.resultcat {
  font-size: 19px;
}
#Kunena span.ktopic-posted-time,
#Kunena span.ktopic-by {
  float: none;
  display: inline;
}
#Kunena span.ktopic-posted-time {
  display: inline;
}
#Kunena div.ktopic-details {
  font: inherit;
}
#Kunena div.kmessage-thankyou {
  border-top: none;
  text-align: right;
}
#Kunena div.kmsg-header {
  text-align: right;
}
#Kunena div.kmsg-header span.kmsgtitle {
  color: #333333;
}
#Kunena ul.kpost-profile li {
  line-height: 27px;
  padding: 0;
}
#Kunena div.kmsgbody div.kmsgtext {
  text-align: left;
}
#Kunena td.kmessage-left {
  padding: 10px 20px;
}
#Kunena div.kmsgbody {
  margin: 0;
  padding: 0;
  width: 100%;
}
#Kunena .kbuttons {
  padding: 19px 10px;
}
#Kunena .krowmoderation select {
  max-width: 100%;
}
#Kunena div.kblock span.select-toggle {
  height: auto;
  margin: 0;
  padding: 0;
  position: static;
}
#Kunena div.kblock div.khelprulescontent {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
#Kunena .krow1 td.krowmoderation {
  padding: 10px 20px;
  text-align: center;
}
#Kunena .krow1 td.krowmoderation > * {
  margin: 0 5px;
}
#Kunena .kfile-input-textbox {
  margin-bottom: 0;
}
#Kunena .kpostbuttonset {
  border-collapse: collapse;
}
#Kunena td#kpost-buttons {
  font-size: 0;
  padding: 19px 20px;
}
#Kunena td#kpost-buttons .btn + .btn {
  margin-left: 10px;
}
#Kunena .kattachment {
  white-space: nowrap;
}
#Kunena .kattachment .kattachment-container {
  white-space: normal;
}
#Kunena .kattachment .kattachment-container > * {
  margin-bottom: 10px;
}
#Kunena .kattachment .kfile-input-textbox {
  max-width: 100%;
}
#Kunena .kattachment + .kattachment {
  padding-top: 10px;
}
#Kunena #kpost-category span.select {
  max-width: 100%;
}
#Kunena .kattachment-id-container {
  float: left;
  margin-right: 10px;
}
#Kunena .kattachment-container {
  display: block;
  overflow: hidden;
}
#Kunena #helpbox {
  margin: 0;
}
#Kunena #kpostmessage tr.krow1 .kpostbuttonset td.kposthint {
  padding: 11px 20px;
}
#Kunena #khistory tr.ksth td {
  border-bottom: 1px solid;
  text-align: right;
}
#Kunena div#khistory span.khistory-msgdate {
  float: none;
  padding: 0 10px 0 0;
}
#Kunena div#khistory td.khistorymsg {
  padding: 11px 20px;
}
#Kunena span.kkarma-minus,
#Kunena span.kkarma-plus {
  background: none;
  height: auto;
  margin: 0 3px;
  width: auto;
}
#Kunena span.kkarma-minus:before,
#Kunena span.kkarma-plus:before {
  font-family: 'FontAwesome';
}
#Kunena span.kkarma-minus:before {
  content: '\f068';
}
#Kunena span.kkarma-plus:before {
  content: '\f067';
}
#Kunena table.kblock-ban th {
  font-weight: normal;
}
#Kunena div.kstats-bar {
  background: #f0f0f0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 30px;
  overflow: hidden;
  position: relative;
}
#Kunena div.kstats-bar div.bar {
  height: 30px;
  overflow: hidden;
  position: relative;
}
#Kunena div.kstats-bar div.bar .number_bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: right;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
  padding-right: 8px;
}
#Kunena div.kstats-bar div.number {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  color: #333;
}
#Kunena #kusersearch {
  float: left;
  margin-right: 5px;
  margin-bottom: 0;
}
#Kunena div#searchuser_tbody {
  padding: 20px 0 0;
}
#Kunena table#kuserlist-bottom div {
  padding: 0;
}
#Kunena #jumpto span.select {
  max-width: 200px;
}
#Kunena #jumpto .inputbox {
  max-width: 100%;
}
#Kunena td.klist-actions-info-all {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  border: none;
  vertical-align: top;
  line-height: 50px;
  text-align: right;
  color: #fc2c53;
}
#Kunena .ksectionbody:before,
#Kunena .ksectionbody:after {
  display: table;
  content: "";
  line-height: 0;
}
#Kunena .ksectionbody:after {
  clear: both;
}
#Kunena #modcategorieslist .chzn-single div,
#Kunena #modtopicslist .chzn-single div {
  padding: 0;
}
#Kunena .btn {
  vertical-align: middle;
}
@media (max-width: 979px) {
  #Kunena .chzn-container-multi .chzn-choices li.search-choice .search-choice-close {
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  #Kunena .chzn-container-multi .chzn-choices li > input {
    font-size: 14px !important;
  }
  #Kunena div.kmessage-buttons-cover {
    float: none !important;
  }
  #Kunena .klist-actions-forum,
  #Kunena .kpost-thankyou,
  #Kunena .kmessage-buttons-row,
  #Kunena div.kmessage-buttons-cover > * {
    text-align: center !important;
  }
  #Kunena .kmessage-buttons-row .btn + .btn {
    margin-left: 2px;
  }
  #Kunena .btn.btn-info,
  #Kunena .btn.btn-primary {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
  }
  #Kunena div.kpost-thankyou,
  #Kunena #kprofile-tabs,
  #Kunena .klist-markallcatsread.kcontainer {
    margin-top: 15px;
  }
  #Kunena .klist-markallcatsread form#jumpto .chzn-container,
  #Kunena .krow1 td.krowmoderation .chzn-container {
    width: 70% !important;
    margin-right: 10px !important;
  }
  #Kunena .klist-markallcatsread form#jumpto .btn.btn-primary.ks,
  #Kunena .krow1 td.krowmoderation .btn.btn-primary.ks {
    width: 25%;
  }
  #Kunena div.chzn-container-single .chzn-single {
    padding-left: 15px;
    padding-right: 15px;
  }
  #Kunena span.kunreadforum,
  #Kunena span.kreadforum,
  #Kunena span.knotloginforum,
  #Kunena .kwhoicon,
  #Kunena .kstatsicon {
    font-size: 30px;
  }
  #Kunena table tr td .tab-content,
  #Kunena table .krow1 td.krowmoderation .tab-content {
    padding: 0;
  }
  #Kunena table th {
    padding: 23px 10px;
  }
  #Kunena .kadvsearch #categorylist {
    float: none;
    width: 100%;
  }
  #Kunena span.kcat-topics-number,
  #Kunena span.kcat-replies-number,
  #Kunena span.ktopic-views-number {
    line-height: 30px !important;
  }
  #Kunena #catid_chzn {
    max-width: 350px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #Kunena span.kcat-topics-number,
  #Kunena span.kcat-replies-number,
  #Kunena span.ktopic-views-number,
  #Kunena fieldset legend,
  #Kunena table tr td > a,
  #Kunena b,
  #Kunena pre,
  #Kunena ul.kpost-profile li.kpost-username {
    font-size: 16px;
    line-height: 25px;
  }
  #Kunena .kthead-title,
  #Kunena table th,
  #Kunena div.kblock div.kheader > span {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 8px;
  }
  #Kunena div.chzn-container,
  #Kunena select,
  #Kunena textarea,
  #Kunena input[type="text"],
  #Kunena input[type="password"],
  #Kunena input[type="datetime"],
  #Kunena input[type="datetime-local"],
  #Kunena input[type="date"],
  #Kunena input[type="month"],
  #Kunena input[type="time"],
  #Kunena input[type="week"],
  #Kunena input[type="number"],
  #Kunena input[type="email"],
  #Kunena input[type="url"],
  #Kunena input[type="search"],
  #Kunena input[type="tel"],
  #Kunena input[type="color"],
  #Kunena .uneditable-input,
  #Kunena div.klist-actions-info-all {
    font-size: 18px;
  }
  #Kunena div#kprofile-stats ul li,
  #Kunena div ul li,
  #Kunena div ol li {
    font-size: 14px;
  }
  #Kunena td.kcol-kcatlastpost,
  #Kunena td.kcol-knoposts,
  #Kunena span.klatest-subject-time,
  #Kunena span.ktopic-date,
  #Kunena span.kcat-topics,
  #Kunena span.kcat-replies,
  #Kunena span.ktopic-views,
  #Kunena .kadvsearch fieldset #childforums-lbl,
  #Kunena .kadvsearch fieldset .searchlabel-checkbox,
  #Kunena #advsearch_options span.radio_wrapper,
  #Kunena span.ktopic-latest-post,
  #Kunena .kposthint input[type="text"],
  #Kunena table tr td,
  #Kunena table tr td > b {
    font-size: 13px;
    line-height: 25.5px;
  }
  #Kunena .chzn-container-multi .chzn-choices li.search-choice {
    font-size: 13px;
  }
  #Kunena span.klatest-subject-time:before,
  #Kunena span.ktopic-date:before,
  #Kunena div.klatest-subject-by:before {
    font-size: 13px;
  }
  #Kunena ul#kstatslistleft li,
  #Kunena ul#kstatslistright li,
  #Kunena .kwhoonline,
  #Kunena .kicon-button,
  #Kunena span.ktopic-posted-time,
  #Kunena div.kmsg-header,
  #Kunena ul.kpost-profile li,
  #Kunena div.kmessage-thankyou {
    font-size: 12px;
  }
  #Kunena div.chzn-container .chzn-results li {
    line-height: 25px;
  }
}
#Kunena .chzn-container .chzn-results li {
  line-height: 25px !important;
}
@media (min-width: 480px) and (max-width: 979px) {
  #Kunena .kuena_form .btn.btn-primary.ks {
    max-width: 349px;
  }
  #Kunena .klist-markallcatsread form#jumpto {
    width: 349px;
  }
  #Kunena table tr td,
  #Kunena table .krow1 td.krowmoderation {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  #Kunena table tr td .tab-content,
  #Kunena table .krow1 td.krowmoderation .tab-content {
    min-width: 200px;
  }
  #Kunena .btn.btn-info,
  #Kunena .btn.btn-primary {
    min-width: 110px;
  }
  #Kunena #kusersearch + .btn.btn-primary {
    min-width: 50px;
  }
  #Kunena .kadvsearch fieldset > input,
  #Kunena .kadvsearch .chzn-container {
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
  #Kunena .klist-jump-all.hidden-phone,
  #Kunena li.hidden-phone {
    display: block !important;
  }
  #Kunena #kfrontstats .kright {
    text-align: left;
  }
  #Kunena #kfrontstats .fltrt {
    float: none;
  }
  #Kunena .krowmoderation > * {
    display: block;
    margin: 0 auto 10px !important;
    max-width: 100%;
  }
  #Kunena tr .nav-tabs > li,
  #Kunena td div .nav-tabs > li {
    display: block;
  }
  #Kunena div.kprofile-rightcol1,
  #Kunena .kadvsearch label#childforums-lbl,
  #Kunena #kforumsearch .searchlabel-checkbox {
    width: 100%;
  }
  #Kunena .kadvsearch fieldset,
  #Kunena .kadvsearch fieldset > input,
  #Kunena .kadvsearch .chzn-container {
    max-width: 218px;
  }
  #Kunena .search-user + .userlist-jump {
    margin-top: 10px;
  }
  #Kunena .ksectionbody form,
  #Kunena #searchuser_tbody form,
  #Kunena .hidden-phone form,
  #Kunena .kmoderatorslist-jump form {
    white-space: nowrap;
    width: 100%;
    display: block;
  }
  #Kunena .ksectionbody form .chzn-container,
  #Kunena #searchuser_tbody form .chzn-container,
  #Kunena .hidden-phone form .chzn-container,
  #Kunena .kmoderatorslist-jump form .chzn-container,
  #Kunena .ksectionbody form #kchecktarget_chzn,
  #Kunena #searchuser_tbody form #kchecktarget_chzn,
  #Kunena .hidden-phone form #kchecktarget_chzn,
  #Kunena .kmoderatorslist-jump form #kchecktarget_chzn,
  #Kunena .ksectionbody form .chzn-container + * + .chzn-container,
  #Kunena #searchuser_tbody form .chzn-container + * + .chzn-container,
  #Kunena .hidden-phone form .chzn-container + * + .chzn-container,
  #Kunena .kmoderatorslist-jump form .chzn-container + * + .chzn-container {
    max-width: 335px;
    margin-right: 0;
  }
  #Kunena form .btn.btn-primary {
    text-align: center;
    display: inline-block;
  }
  #Kunena form .btn.btn-primary[value*="Go"] {
    display: block;
    width: 50px;
    min-width: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
  }
  #Kunena * .kbody,
  #Kunena #userlist-tbody .kbody,
  #Kunena .kblock.k-profile .kbody,
  #Kunena .kblock.kflat .kbody {
    display: block;
    overflow-x: scroll;
  }
  #Kunena .kcontainer .kbody {
    overflow-x: visible;
  }
  #Kunena table#kaddban td.kcol-mid input {
    width: auto;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #Kunena .nav-tabs > li {
    display: inline-block;
  }
  #Kunena div#searchuser_tbody div.userlist-jump,
  #Kunena div#searchuser_tbody div.search-user,
  #Kunena .kadvsearch #categorylist,
  #Kunena .fltrt,
  #Kunena .fltlft {
    float: none;
  }
  #Kunena .fltrt,
  #Kunena .fltlft {
    text-align: left;
  }
  #Kunena span.kcat-topics-number,
  #Kunena span.kcat-replies-number,
  #Kunena span.ktopic-views-number,
  #Kunena fieldset legend,
  #Kunena table tr td > a,
  #Kunena b,
  #Kunena pre {
    font-size: 16px;
    line-height: 25px;
  }
  #Kunena .kthead-title,
  #Kunena table th,
  #Kunena div.kblock div.kheader > span {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 8px;
  }
  #Kunena div.chzn-container,
  #Kunena select,
  #Kunena textarea,
  #Kunena input[type="text"],
  #Kunena input[type="password"],
  #Kunena input[type="datetime"],
  #Kunena input[type="datetime-local"],
  #Kunena input[type="date"],
  #Kunena input[type="month"],
  #Kunena input[type="time"],
  #Kunena input[type="week"],
  #Kunena input[type="number"],
  #Kunena input[type="email"],
  #Kunena input[type="url"],
  #Kunena input[type="search"],
  #Kunena input[type="tel"],
  #Kunena input[type="color"],
  #Kunena .uneditable-input,
  #Kunena div.klist-actions-info-all,
  #Kunena .nav-tabs > li > a {
    font-size: 18px;
  }
  #Kunena div#kprofile-stats ul li,
  #Kunena div ul li,
  #Kunena div ol li {
    font-size: 14px;
  }
  #Kunena td.kcol-kcatlastpost,
  #Kunena td.kcol-knoposts,
  #Kunena span.klatest-subject-time,
  #Kunena span.ktopic-date,
  #Kunena span.kcat-topics,
  #Kunena span.kcat-replies,
  #Kunena span.ktopic-views,
  #Kunena .kadvsearch fieldset #childforums-lbl,
  #Kunena .kadvsearch fieldset .searchlabel-checkbox,
  #Kunena #advsearch_options span.radio_wrapper,
  #Kunena span.ktopic-latest-post,
  #Kunena .kposthint input[type="text"],
  #Kunena table tr td,
  #Kunena table tr td > b,
  #Kunena .chzn-container-multi .chzn-choices li.search-choice {
    font-size: 13px;
    line-height: 25.5px;
  }
  #Kunena ul#kstatslistleft li,
  #Kunena ul#kstatslistright li,
  #Kunena .kwhoonline,
  #Kunena .kicon-button,
  #Kunena span.ktopic-posted-time {
    font-size: 12px;
  }
  #Kunena div.chzn-container .chzn-results li {
    line-height: 25px;
  }
  #Kunena span.klatest-subject-time:before,
  #Kunena span.ktopic-date:before,
  #Kunena div.klatest-subject-by:before {
    font-size: 13px;
  }
  #Kunena form .btn.btn-primary {
    font-size: 16px;
  }
}
@media (max-width: 639px) {
  #Kunena td#kpost-buttons .btn {
    margin-bottom: 10px;
  }
}
@media (max-width: 479px) {
  #Kunena .nav-tabs > li,
  #Kunena .ksectionbody form,
  #Kunena .ksectionbody form .btn.btn-primary {
    display: block;
  }
  #Kunena table tr td,
  #Kunena table .krow1 td.krowmoderation {
    padding: 11px;
  }
  #Kunena table tr td .tab-content,
  #Kunena table .krow1 td.krowmoderation .tab-content {
    min-width: 200px;
  }
  #Kunena * .btn,
  #Kunena .search-user .btn,
  #Kunena .krowmoderation .btn,
  #Kunena .input-append .btn,
  #Kunena .input-prepend .btn,
  #Kunena #kpost-attachments .btn,
  #Kunena #searchForm .btn,
  #Kunena .klist-markallcatsread form#jumpto .chzn-container .btn {
    vertical-align: bottom;
  }
  #Kunena #kflattable td {
    min-width: 160px;
  }
  #Kunena #kpopsubstats-tbody table tr td:first-child,
  #Kunena #kpopsubstats-tbody table tr td:last-child {
    min-width: 0;
  }
  #Kunena #kpopsubstats-tbody table tr td:nth-child(n+2):nth-child(-n+3) {
    min-width: 150px;
  }
  #Kunena .kblock,
  #Kunena #searchform .kbuttons .btn {
    margin-bottom: 10px;
  }
  #Kunena .nowrap.klatest-subject-time {
    white-space: normal;
  }
  #Kunena .klist-markallcatsread form#jumpto span.select,
  #Kunena .klist-jump-all form#jumpto span.select,
  #Kunena .klist-times-all form#jumpto span.select,
  #Kunena div.kmoderatorslist-jump form#jumpto span.select,
  #Kunena .klist-markallcatsread form#timeselect span.select,
  #Kunena .klist-jump-all form#timeselect span.select,
  #Kunena .klist-times-all form#timeselect span.select,
  #Kunena div.kmoderatorslist-jump form#timeselect span.select,
  #Kunena .klist-markallcatsread form#jumpto .chzn-container,
  #Kunena .klist-jump-all form#jumpto .chzn-container,
  #Kunena .klist-times-all form#jumpto .chzn-container,
  #Kunena div.kmoderatorslist-jump form#jumpto .chzn-container,
  #Kunena .klist-markallcatsread form#timeselect .chzn-container,
  #Kunena .klist-jump-all form#timeselect .chzn-container,
  #Kunena .klist-times-all form#timeselect .chzn-container,
  #Kunena div.kmoderatorslist-jump form#timeselect .chzn-container {
    margin-right: 10px !important;
  }
  #Kunena .klist-markallcatsread form#jumpto select#catid,
  #Kunena .klist-jump-all form#jumpto select#catid,
  #Kunena .klist-times-all form#jumpto select#catid,
  #Kunena div.kmoderatorslist-jump form#jumpto select#catid,
  #Kunena .klist-markallcatsread form#timeselect select#catid,
  #Kunena .klist-jump-all form#timeselect select#catid,
  #Kunena .klist-times-all form#timeselect select#catid,
  #Kunena div.kmoderatorslist-jump form#timeselect select#catid {
    width: 280px !important;
  }
  #Kunena table.kmsg,
  #Kunena .kblock .kcontainer {
    overflow-x: scroll;
    display: block;
  }
  #Kunena table.kmsg .kmsg tr td + td,
  #Kunena .kblock .kcontainer .kmsg tr td + td {
    min-width: 220px;
  }
  #Kunena table.kmsg td.kprofile-left,
  #Kunena .kblock .kcontainer td.kprofile-left {
    max-width: 100px;
  }
  #Kunena table.kmsg td.kprofile-left .kavatar,
  #Kunena .kblock .kcontainer td.kprofile-left .kavatar {
    width: 80px;
  }
  #Kunena table.kmsg td.kcol-left,
  #Kunena .kblock .kcontainer td.kcol-left {
    max-width: 150px;
  }
  #Kunena table.kmsg td.kcol-left > *,
  #Kunena .kblock .kcontainer td.kcol-left > * {
    max-width: 130px;
  }
  #Kunena table.kmsg td.kcol-left div.kavatar-lg,
  #Kunena .kblock .kcontainer td.kcol-left div.kavatar-lg {
    width: 100%;
  }
  #Kunena #searchform .krow1 .kcol + .kcol {
    border: none;
  }
  #Kunena .kmoderatorslist-jump,
  #Kunena .kwhoisonline .kcol-first,
  #Kunena .kfrontstats .kcol-first {
    display: none;
  }
  #Kunena div.current {
    padding: 0;
  }
  #Kunena form .btn.btn-primary[value*="Go"] {
    margin-top: 5px;
  }
  #Kunena #searchform .krow1 .kcol {
    vertical-align: top;
    width: 50%;
  }
  #Kunena #searchform .krow1 .kcol,
  #Kunena #kaddban tr td:first-child {
    min-width: 150px;
  }
  #Kunena .kblock.kadvsearch .kbody {
    overflow-x: scroll;
  }
  #Kunena table tr td {
    min-width: 90px;
  }
  #Kunena select {
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }
  #Kunena .kbody,
  #Kunena table,
  #Kunena tbody,
  #Kunena tr,
  #Kunena td,
  #Kunena td div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #Kunena span.kcat-topics-number,
  #Kunena span.kcat-replies-number,
  #Kunena span.ktopic-views-number,
  #Kunena fieldset legend,
  #Kunena table tr td > a,
  #Kunena b,
  #Kunena pre {
    font-size: 16px;
    line-height: 25px;
  }
  #Kunena .kthead-title,
  #Kunena table th,
  #Kunena div.kblock div.kheader > span {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 8px;
  }
  #Kunena div.chzn-container,
  #Kunena select,
  #Kunena textarea,
  #Kunena input[type="text"],
  #Kunena input[type="password"],
  #Kunena input[type="datetime"],
  #Kunena input[type="datetime-local"],
  #Kunena input[type="date"],
  #Kunena input[type="month"],
  #Kunena input[type="time"],
  #Kunena input[type="week"],
  #Kunena input[type="number"],
  #Kunena input[type="email"],
  #Kunena input[type="url"],
  #Kunena input[type="search"],
  #Kunena input[type="tel"],
  #Kunena input[type="color"],
  #Kunena .uneditable-input,
  #Kunena div.klist-actions-info-all,
  #Kunena .nav-tabs > li > a {
    font-size: 18px;
  }
  #Kunena div#kprofile-stats ul li,
  #Kunena div ul li,
  #Kunena div ol li {
    font-size: 14px;
  }
  #Kunena td.kcol-kcatlastpost,
  #Kunena td.kcol-knoposts,
  #Kunena span.klatest-subject-time,
  #Kunena span.ktopic-date,
  #Kunena span.kcat-topics,
  #Kunena span.kcat-replies,
  #Kunena span.ktopic-views,
  #Kunena .kadvsearch fieldset #childforums-lbl,
  #Kunena .kadvsearch fieldset .searchlabel-checkbox,
  #Kunena #advsearch_options span.radio_wrapper,
  #Kunena span.ktopic-latest-post,
  #Kunena .kposthint input[type="text"],
  #Kunena table tr td,
  #Kunena table tr td > b,
  #Kunena .chzn-container-multi .chzn-choices li.search-choice {
    font-size: 13px;
    line-height: 25.5px;
  }
  #Kunena ul#kstatslistleft li,
  #Kunena ul#kstatslistright li,
  #Kunena .kwhoonline,
  #Kunena .kicon-button,
  #Kunena span.ktopic-posted-time {
    font-size: 12px;
  }
  #Kunena div.chzn-container .chzn-results li {
    line-height: 25px;
  }
  #Kunena span.klatest-subject-time:before,
  #Kunena span.ktopic-date:before,
  #Kunena div.klatest-subject-by:before {
    font-size: 13px;
  }
  #Kunena form .btn.btn-primary {
    font-size: 16px;
  }
  #Kunena .klist-markallcatsread.kcontainer .ksectionbody .fltrt {
    float: none;
    clear: both;
  }
}
.mobile #Kunena select {
  padding: 8px 5px 8px 5px;
  width: 100%;
}
.mobile #Kunena table {
  max-width: none;
}
.mobile #Kunena option {
  background: none;
  font-size: .917em;
  padding: 0 10px 0 2px;
}
.mobile #Kunena .catid_chzn {
  display: block;
}
.mobile #Kunena * .btn,
.mobile #Kunena .search-user .btn,
.mobile #Kunena .krowmoderation .btn,
.mobile #Kunena .input-append .btn,
.mobile #Kunena .input-prepend .btn,
.mobile #Kunena #kpost-attachments .btn,
.mobile #Kunena #searchForm .btn,
.mobile #Kunena .klist-markallcatsread form#jumpto .chzn-container .btn {
  vertical-align: middle;
}
