.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-moz-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-ms-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-o-keyframes h-progress {
  0% {
    width: 0;
  }
}
@keyframes h-progress {
  0% {
    width: 0;
  }
}
@-webkit-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-moz-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-ms-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-o-keyframes v-progress {
  0% {
    height: 0;
  }
}
@keyframes v-progress {
  0% {
    height: 0;
  }
}
.page-gallery__works .item_img {
  position: relative;
  border-radius: 0;
  margin-bottom: 0;
}
.page-gallery__works .item_img a {
  border-radius: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.page-gallery__works .item_img img {
  border-radius: 0;
}
.page-gallery__works .item_img .more_wrapper {
  display: block;
  background: rgba(0, 0, 0, 0);
  top: 9%;
  bottom: 9%;
  height: 82%;
  width: 82%;
  left: 9%;
  right: 9%;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.page-gallery__works .item_img .more_wrapper .vert-align {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 100%;
  display: block;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.page-gallery__works .item_img .more_wrapper .vert-align .btn {
  padding: 10%;
  box-sizing: border-box;
}
.page-gallery__works .item_img .more_wrapper .vert-align .btn .item_title {
  color: #ffffff;
  padding-top: 20px;
  margin-bottom: 15px;
}
.page-gallery__works .item_img .more_wrapper .vert-align .btn .item_introtext p {
  font: 300 22px/30px 'Roboto', sans-serif;
  text-transform: none;
}
.page-gallery__works .item_img .more_wrapper .vert-align .btn:hover {
  background: #fc2c53;
}
.page-gallery__works .item_img:hover .more_wrapper {
  opacity: 1;
}
.page-gallery__works .gallery-item {
  text-align: center;
}
ul.gallery {
  font-size: 0;
}
ul.gallery .gallery-item {
  margin-bottom: 30px;
  font-size: 22px;
}
ul.gallery .gap {
  display: inline-block;
}
ul.gallery .gap:before {
  display: none;
}
ul.gallery .gallery-list {
  margin: 0 0 15px;
}
ul.gallery .gallery-list .galleryZoom {
  display: none;
}
.filters b,
.sorting b,
.layout-mode b {
  display: block;
  margin: 0 0 15px;
}
.layout-mode {
  float: right;
}
ul#filters {
  margin: 0 0 15px;
}
ul#filters li {
  display: inline-block;
  vertical-align: top;
}
ul#filters li a {
  cursor: pointer;
}
ul#sort {
  text-align: center;
}
ul#sort li {
  border-radius: 0;
}
ul#sort li a {
  cursor: pointer;
  background: none;
  padding: 0 10px;
  font: 400 30px/30px 'Righteous', cursive;
  color: #1a1a1a;
  text-transform: capitalize;
}
ul#sort li a.selected {
  color: #fc2c53;
}
ul#sort li a.selected:after {
  color: #fc2c53;
}
ul#sort li a:hover {
  color: #fc2c53;
}
ul#sort li a:after {
  font-family: FontAwesome;
  margin-left: 5px;
  font-size: 18px;
  line-height: 30px;
}
ul#sort li a[data-order=asc]:after {
  content: '\f078';
}
ul#sort li a[data-order=desc]:after {
  content: '\f054';
}
ul#order {
  float: right;
  position: relative;
  z-index: 2;
}
ul#grid-list {
  margin: 0 0 15px;
}
ul#grid-list li {
  display: inline-block;
}
.gallery-grid .item_img {
  margin-right: 0;
}
.page-gallery_img {
  margin-left: 0;
  border-radius: 0;
}
.page-gallery_img .item_img {
  border-radius: 0 !important;
  max-width: 40%;
}
.page-gallery_img .item_img a {
  border-radius: 0 !important;
}
.page-gallery_img .item_img a img {
  border-radius: 0 !important;
}
/*======================= Portfolio Project Page ========================*/
.item_img .articleGalleryZoom .BWfade,
.item_img .galleryZoomIcon .BWfade {
  display: none !important;
}
.item_img .articleGalleryZoom:before,
.item_img .galleryZoomIcon:before,
.item_img .articleGalleryZoom:after,
.item_img .galleryZoomIcon:after {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.item_img .articleGalleryZoom:before,
.item_img .galleryZoomIcon:before {
  content: '';
  background: #1a1a1a;
  bottom: 0;
  top: 0;
  opacity: 0;
}
.item_img .articleGalleryZoom:after,
.item_img .galleryZoomIcon:after {
  top: 50%;
  color: #FFF;
  content: '\f0b2';
  font-family: 'FontAwesome';
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.item_img .articleGalleryZoom:hover:before,
.item_img .galleryZoomIcon:hover:before {
  opacity: 0.2;
}
.item_img .articleGalleryZoom:hover:after,
.item_img .galleryZoomIcon:hover:after {
  font-size: 32px;
}
.img-full__left.span5 {
  padding-left: 0;
}
.view-article #prevArrow,
.view-article #nextArrow {
  display: none;
}
@media (max-width: 767px) {
  ul.gallery .gallery-grid .item_img img {
    width: 100%;
  }
}
@media (max-width: 639px) {
  .gallery li.gallery_desc {
    display: none;
  }
}
