/* camera.less
=========================================================*/
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-moz-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-ms-keyframes h-progress {
  0% {
    width: 0;
  }
}
@-o-keyframes h-progress {
  0% {
    width: 0;
  }
}
@keyframes h-progress {
  0% {
    width: 0;
  }
}
@-webkit-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-moz-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-ms-keyframes v-progress {
  0% {
    height: 0;
  }
}
@-o-keyframes v-progress {
  0% {
    height: 0;
  }
}
@keyframes v-progress {
  0% {
    height: 0;
  }
}
.camera_prevThumbs,
.camera_nextThumbs,
.camera_prev,
.camera_next,
.camera_commands,
.camera_thumbs_cont {
  background: #49caff;
}
.camera_caption > div .readmore:hover {
  border: 3px solid #49caff;
  color: #49caff;
}
.camera_pag .camera_pag_ul li {
  background: #49caff;
}
/* caroufredsel.less
=========================================================*/
.caroufredsel_prev,
.caroufredsel_next {
  background: #49caff;
}
.caroufredsel_pagination a:hover,
.caroufredsel_pagination a.selected {
  background: #49caff;
}
/* fancybox.less
=========================================================*/
/* gallery.less
=========================================================*/
.jg_catelem_txt ul li a:hover {
  color: #49caff;
}
.jg_imgalign_catimgs .jg_catelem_txt:before {
  background: #49caff;
}
/* icemegamenu.less
=========================================================*/
.icemegamenu > ul > li > a.iceMenuTitle.hover,
.icemegamenu > ul > li > a.iceMenuTitle.icemega_active {
  color: #49caff;
}
.icemegamenu > ul > li.hover > a.iceMenuTitle {
  color: #49caff;
}
.icemegamenu > ul > li.menu-login-form > a.iceMenuTitle {
  color: #49caff;
}
ul.icesubMenu li.active > a.iceMenuTitle,
ul.icesubMenu li:hover > a.iceMenuTitle,
ul.icesubMenu li.hover > a.iceMenuTitle {
  color: #49caff;
}
/* komento.less
=========================================================*/
#section-kmt .kmt-head .author-kmt a:hover {
  color: #49caff;
}
#section-kmt .kmt-inreplyto a:hover {
  color: #49caff;
}
#section-kmt .kmt-time {
  color: #49caff;
}
#section-kmt .kmt-time:before {
  color: #49caff;
}
#section-kmt .kmt-control-user .kmt-btn:hover {
  color: #49caff;
}
#section-kmt .kmt-like-counter:hover {
  color: #49caff;
}
#section-kmt .kmt-rank-progress {
  background: #49caff;
}
/* kunena.skinner.less
=========================================================*/
#Kunena .kcol-category-icon {
  color: #49caff;
}
#Kunena span.kunreadforum,
#Kunena span.knotloginforum,
#Kunena .kwhoicon,
#Kunena .kstatsicon {
  color: #49caff;
}
#Kunena .kcol-ktopicicon {
  color: #49caff;
}
#Kunena #kprofile-tabs dl.tabs dt.open,
#Kunena #kprofile-edit dl.tabs dt.open,
#Kunena #kprofile-tabs dl.tabs dt:hover,
#Kunena #kprofile-edit dl.tabs dt:hover {
  color: #49caff;
}
#Kunena .kicon-profile-location:before,
#Kunena .kicon-profile-gender-male:before,
#Kunena .kicon-profile-birthdate:before,
#Kunena .kicon-profile-email:before {
  color: #49caff;
}
#Kunena .kwhoonline strong {
  color: #49caff;
}
#Kunena td.kcol-kcatlastpost a:hover,
#Kunena td.kcol-knoposts a:hover {
  color: #49caff;
}
#Kunena span.kcat-topics-number,
#Kunena span.kcat-replies-number,
#Kunena span.ktopic-views-number {
  background: #49caff;
}
#Kunena div.klatest-subject-by:before {
  color: #49caff;
}
#Kunena span.klatest-subject-time:before,
#Kunena span.ktopic-date:before {
  color: #49caff;
}
#Kunena ul#kstatslistleft li strong,
#Kunena ul#kstatslistright li strong {
  color: #49caff;
}
#Kunena div.klist-actions-info-all {
  color: #49caff;
}
#Kunena td.klist-actions-info-all {
  color: #49caff;
}
/* layout.less
=========================================================*/
/* portfolio.less
=========================================================*/
.page-gallery__works .item_img .more_wrapper .vert-align .btn:hover {
  background: #49caff;
}
ul#sort li a.selected {
  color: #49caff;
}
ul#sort li a.selected:after {
  color: #49caff;
}
ul#sort li a:hover {
  color: #49caff;
}
/* template.less
=========================================================*/
.stuck .moduletable.top_menu_2 .menu li a:hover {
  color: #49caff;
}
.mod-newsflash-adv__counters .item .item_introtext p {
  color: #49caff;
}
.mod-newsflash-adv__pricing_simple .row-fluid .item .head {
  background: #49caff;
}
.mod-newsflash-adv__pricing_simple .row-fluid .item.featured .readmore:hover {
  background: #49caff;
}
.mod-newsflash-adv__pricing_detailed .row-fluid .item .head {
  background: #49caff;
}
.mod-newsflash-adv__pricing_detailed .row-fluid .item.featured .readmore:hover {
  background: #49caff;
}
.mod-newsflash-adv__home_gallery .item .item_info .item_title {
  background: #49caff;
}
.mod-newsflash-adv__home_gallery .item .item_img .more {
  background-color: #49caff;
}
.mod-newsflash-adv__home_gallery .item .item_img .more .item_introtext h2:after {
  border: solid 7px #49caff;
}
.page-blog article .item_title,
.page-item__blog .item_title {
  color: #49caff;
}
.page-blog article .item_info dd a:hover,
.page-item__blog .item_info dd a:hover {
  color: #49caff;
}
.page-blog article .tags li a:hover,
.page-item__blog .tags li a:hover {
  color: #49caff;
}
.social-links li a:hover {
  background: #49caff;
}
#breadcrumbs .breadcrumb li a,
#breadcrumbs .breadcrumb li span {
  color: #49caff;
}
#breadcrumbs .breadcrumb li a:hover {
  color: #49caff;
}
body.body__home #navigation,
body.body__about #navigation {
  background-color: #49caff;
}
.mod-article-single__contact a:hover {
  color: #49caff;
}
#copyright .moduletable.footer_logo ul li a {
  background: #49caff;
}
.copyright a:hover {
  color: #49caff;
}
.copyright .year:after {
  content: '•';
}
.address_phones i {
  color: #49caff;
}
.moduletable.top_social .menu.social li a:hover {
  color: #49caff;
}
.menu.social li a:hover {
  color: #49caff;
}
#style_switcher,
#style_switcher .toggler {
  background: #49caff;
}
a {
  color: #49caff;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #49caff;
}
blockquote:before {
  color: #49caff;
}
blockquote cite {
  color: #49caff;
}
.item_introtext strong,
.item_fulltext strong,
.category_desc strong {
  color: #49caff;
}
.item_introtext mark,
.item_fulltext mark,
.category_desc mark {
  background: #49caff;
}
ol li:before {
  color: #49caff;
}
.item_introtext ul li:before,
.item_fulltext ul li:before,
.category_desc ul li:before,
.site_map ul li:before {
  color: #49caff;
}
.item_introtext ul a:hover,
.item_fulltext ul a:hover,
.category_desc ul a:hover,
.site_map ul a:hover {
  color: #49caff;
}
.portfolio-meta-list li strong {
  color: #49caff;
}
div.chzn-container .chzn-results li.highlighted {
  background: #49caff;
}
div.chzn-container-single.chzn-container-active.chzn-with-drop .chzn-single div:before {
  color: #49caff;
}
textarea.invalid {
  border: #49caff;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  border-color: #49caff;
}
input.error,
textarea.error,
select.error {
  border-color: #49caff !important;
  color: #00a0e2 !important;
}
input.error::-webkit-input-placeholder {
  color: #00a0e2 !important;
}
input.error:-moz-placeholder {
  color: #00a0e2 !important;
}
input.error::-moz-placeholder {
  color: #00a0e2 !important;
}
input.error:-ms-input-placeholder {
  color: #00a0e2 !important;
}
textarea.error::-webkit-input-placeholder {
  color: #00a0e2 !important;
}
textarea.error:-moz-placeholder {
  color: #00a0e2 !important;
}
textarea.error::-moz-placeholder {
  color: #00a0e2 !important;
}
textarea.error:-ms-input-placeholder {
  color: #00a0e2 !important;
}
.input-prepend .add-on i,
.input-prepend .add-on > span {
  color: #49caff;
}
.input-prepend .add-on:hover i {
  background: #49caff;
}
/* Allow for input prepend/append in search forms */
table th {
  background: #49caff;
}
table a {
  color: #49caff;
}
dl.table dt {
  background: #49caff;
}
#Kunena div.kblock div.kheader > span {
  background: #49caff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: #49caff;
}
.btn {
  background: #49caff;
}
.btn-info {
  background: #49caff;
}
.btn-link {
  color: #49caff;
}
.nav-tabs > li > a,
.nav-tabs > li > span {
  background: #49caff;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  background-color: #49caff;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #49caff;
}
.nav .dropdown-toggle .caret {
  border-top-color: #49caff;
  border-bottom-color: #49caff;
}
.breadcrumb a {
  color: #49caff;
}
.pagination ul li > a:focus,
.pagination ul li > span:focus {
  background: #49caff;
}
.pagination ul li > .pagenav,
.pagination ul li > .hasTooltip {
  background: #49caff;
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #49caff;
}
.label,
.badge {
  background: #49caff;
}
@-webkit-keyframes progress-bar-stripes {
}
@-moz-keyframes progress-bar-stripes {
}
@-ms-keyframes progress-bar-stripes {
}
@-o-keyframes progress-bar-stripes {
}
@keyframes progress-bar-stripes {
}
.progress-horizontal .bar {
  background: #49caff;
}
.progress-vertical .bar {
  background: #49caff;
}
.radial-progress svg path:last-child {
  stroke: #49caff !important;
}
.accordion-group {
  background: #49caff;
}
.mod-bootstrap-collapse__custom .accordion-toggle:hover {
  color: #49caff;
}
.mod-bootstrap-collapse__custom .accordion-toggle:hover:before {
  color: #49caff;
}
.mod-bootstrap-collapse__custom .accordion-toggle.selected {
  color: #49caff;
}
.mod-bootstrap-collapse__custom .accordion-toggle.selected:before {
  color: #49caff;
}
@-ms-viewport {
}
/* Joomla => Bootstrap Tooltip */
/* Common styling for Chosen Select Boxes with Input Prepend/Append */
/* Accessible Hidden Elements (good for hidden labels and such) */
/* Chosen proper wrapping in Bootstrap btn-group */
/* Align tip text to left (old mootools tip) */
.offline_container .well {
  background: #49caff;
}
.offline_container .well .btn-primary:hover {
  background: #49caff;
  border-color: #49caff;
}
.mod-menu .nav.menu.nav-pills > li.active > a {
  background: #49caff;
}
.icons .btn-group.pull-right ul.dropdown-menu > li > a:hover {
  background: #49caff;
}
/*======================= Search & Smart Search ========================*/
#back-top a {
  border: 2px solid #49caff;
  color: #49caff;
}
#back-top a:hover {
  background: #49caff;
}
#habla_window_div .habla_offline_submit_input {
  background: #49caff !important;
}
#habla_window_div #habla_topbar_div {
  background: #49caff !important;
}
*::selection {
  background: #49caff;
}
*::-moz-selection {
  background: #49caff;
}
.icemega_modulewrap.top_search i.fa-times {
  color: #49caff;
}
.login_shell .btn-primary {
  background: #49caff;
}
div#fixed-sidebar-right .moduletable.login > i.fa-user {
  background: #49caff;
}
div#fixed-sidebar-right .moduletable.login .mod_login_wrapper .input-prepend .add-on:hover i {
  color: #49caff;
}
.page-category__history .items-row > div:before {
  background: #49caff;
}
.page-category__history .items-row:before {
  background: #49caff;
}
.page-category__faqs .item_title span.item_title_part0 {
  color: #49caff;
}
.contact_details .icons-marker {
  color: #49caff;
}
.item_hits:before {
  color: #49caff;
}
.komento .kmt-readon .kmt-comment a:before {
  color: #49caff;
}
.mod_caroufredsel__testimonials .list_carousel .item .item_content .btn:hover {
  color: #49caff;
}
.mod-article-single.mod-article-single__experience .readmore:hover,
.mod-article-single.mod-article-single__dependability .readmore:hover,
.mod-article-single.mod-article-single__creativity .readmore:hover {
  color: #49caff;
}
@media (max-width: 1390px) {
  .moduletable.top_social .menu.social li a:hover {
    color: #49caff;
  }
}
@media (max-width: 767px) {
  .rd-mobilemenu_ul a.iceMenuTitle:hover {
    background: #49caff;
  }
  .rd-mobilemenu_ul a.active,
  .rd-mobilemenu_ul li.level_1.active > a {
    background: #49caff;
  }
  .rd-mobilemenu_submenu li.active > a {
    color: #49caff;
  }
}
